<ng-container>

  <div class="producto">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Productos forestales no maderables</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button
          mat-raised-button
          color="primary"
          (click)="agregarProducto()"
          *ngIf="!verFormulario"
        >Agregar producto
        </button>

        <!--Form Especie-->
        <form [formGroup]="formGroupFields" *ngIf="verFormulario" class="especie-field">
          <mat-form-field class="producto__item nombre" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombre"
            />
          </mat-form-field>
          <mat-form-field class="producto__item valor" appearance="fill">
            <mat-label>Unidades</mat-label>
            <input
              matInput
              type="text"
              formControlName="unidad"
            />
          </mat-form-field>
        </form>
        <button
          mat-raised-button
          color="primary"
          (click)="crearProducto()"
          *ngIf="verFormulario"
          class="crear"
        >Guardar Producto
        </button>
        <table mat-table [dataSource]="dataSourcePfnm" class="tabla-de-costos"
               *ngIf="!verFormulario && listaPfnm.length > 0">
          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Concepto</th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef> Unidades</th>
            <td mat-cell *matCellDef="let element"> {{ element.unidad }} </td>
          </ng-container>

          <ng-container matColumnDef="operaciones" class="padding">
            <th mat-header-cell *matHeaderCellDef> Operaciones</th>
            <td mat-cell *matCellDef="let element; let especieId = index;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="editarProducto(especieId)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  mat-menu-item
                  (click)="eliminarProducto(especieId)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tablaProductos"></tr>
          <tr mat-row *matRowDef="let row; columns: tablaProductos;"></tr>
        </table>
      </mat-card-content>
    </mat-card>


  </div>


</ng-container>
