<ng-container>

  <div class="sistemas-transformacion">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Sistemas de transformacion primaria</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button
          mat-raised-button
          color="primary"
          (click)="agregarSistema()"
          *ngIf="!verFormularioSistema"
        >Agregar sistema de transformacion
        </button>

        <!--Form Sistema-->
        <mfs-sistema
          *ngIf="verFormularioSistema"
          [materiales]="materiales"
          [sistema]="actualSistemaId > -1 ? listaSistemas[actualSistemaId] : undefined"
          [listaNombres]="listaNombres"
          (guardarSistema)="guardarSistema($event)"
          (cancelarSistema)="cancelarSistema($event)"
        ></mfs-sistema>

        <br/>

        <table mat-table [dataSource]="dataSourceSistemas" class="tabla-de-sistemas"
               *ngIf="!verFormularioSistema && listaSistemas.length > 0">
          <!-- Position Column -->
          <ng-container matColumnDef="nombreSistema">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{ element.nombreSistema }} </td>
          </ng-container>

          <ng-container *ngFor="let material of materiales; let i=index" matColumnDef="{{material.Nombre}}">
            <th mat-header-cell *matHeaderCellDef>{{material.Nombre}}</th>
            <td mat-cell *matCellDef="let element"> {{element[material.Nombre]|currency}} </td>
          </ng-container>

          <ng-container matColumnDef="operaciones" class="padding">
            <th mat-header-cell *matHeaderCellDef> Operaciones</th>
            <td mat-cell *matCellDef="let element; let sistemaId = index;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="editarSistema(sistemaId)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  mat-menu-item
                  (click)="eliminarSistema(sistemaId)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tablaSistemas"></tr>
          <tr mat-row *matRowDef="let row; columns: tablaSistemas;"></tr>
        </table>

      </mat-card-content>
    </mat-card>


  </div>


</ng-container>
