@import "../../../styles/mixins.scss";

.stepper-label {
  font-size: 0.8rem;
}

.button-container {
  padding: 20px 0px;
  @include navigation-container(false);
  &__button {
    @include navigation-button;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.button-container--initial {
  @include navigation-container(true);
  &__button {
    @include navigation-button;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
