<ng-container>

  <div class="mfs-sistema">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Costos</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button
          mat-raised-button
          color="primary"
          (click)="agregarCosto()"
          *ngIf="!verFormulario"
        >Agregar costo
        </button>

        <!--Form Especie-->
        <form [formGroup]="formGroupFields" *ngIf="verFormulario" class="especie-field">
          <mat-form-field class="especie-form__item nombre" appearance="fill">
            <mat-label>Concepto</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombre"
            />
          </mat-form-field>
          <mat-form-field class="especie-form__item unidad" appearance="fill">
            <mat-label>Unidades</mat-label>
            <input
              matInput
              type="text"
              formControlName="unidad"
            />
          </mat-form-field>
          <mat-form-field class="especie-form__item cantidad" appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input
              matInput
              type="number"
              formControlName="cantidad"
            />
          </mat-form-field>
          <mat-form-field class="especie-form__item valor" appearance="fill">
            <mat-label>Valor</mat-label>
            <input
              matInput
              type="number"
              formControlName="valor"
            />
          </mat-form-field>
        </form>
        <button
          mat-raised-button
          color="primary"
          (click)="crearCosto()"
          *ngIf="verFormulario"
          class="crear-especie"
        >Guardar costo</button>
        <table mat-table [dataSource]="dataSourceCostos" class="tabla-de-costos"
               *ngIf="!verFormulario && listaCostos.length > 0">
          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Concepto</th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef> Unidades</th>
            <td mat-cell *matCellDef="let element"> {{ element.unidad }} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad</th>
            <td mat-cell *matCellDef="let element"> {{ element.cantidad }} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor</th>
            <td mat-cell *matCellDef="let element"> {{ element.valor | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="operaciones" class="padding">
            <th mat-header-cell *matHeaderCellDef> Operaciones</th>
            <td mat-cell *matCellDef="let element; let especieId = index;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="editarCosto(especieId)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  mat-menu-item
                  (click)="eliminarCosto(especieId)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tablaCostos"></tr>
          <tr mat-row *matRowDef="let row; columns: tablaCostos;"></tr>
        </table>
      </mat-card-content>
    </mat-card>


  </div>


</ng-container>
