<ng-container>
        <!--Costos--> 
        <form [formGroup] = "fgroupCostos"  class="costos-form">
            <div class="costos-sub-form">           
                <mat-form-field class="costos-form_item">
                    <mat-label>Modo de cobro de asistencia técnica</mat-label>
                    <mat-select formControlName="fcontrolModoCobroAsistencia" name="modoCobroAsistencia" (selectionChange) = "onSelectModoAsistencia()">
                        <mat-option *ngFor="let option of listaModosCobro" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field  class="costos-form_item">
                    <mat-label *ngIf="modoValorFijo">Indique el valor fijo anual por asistencia técnica (COP)</mat-label>
                    <mat-label *ngIf="!modoValorFijo">Indique el porcentaje por asistencia técnica (%)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCostoAsistencia"           
                    />
                </mat-form-field>  
                <mat-card class="card">
                    <div class="form-label">Costos asociados a terreno</div>
                    <mat-form-field class="costos-form_item">
                        <mat-label>Tipo de costo</mat-label>
                        <mat-select formControlName="fcontrolTipoCostoTierra" name="tipoCostoTierra" >
                            <mat-option *ngFor="let option of listaCostoTierra" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Indique el valor (COP/ha)</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolCostoTierra"            
                        />
                    </mat-form-field>
                </mat-card> 

                <!--Caminos-->
                <mat-card class="card">
                    <div class="form-label">Costos asociados a caminos</div> 
                    <mat-form-field  class="costos-form_item" *ngIf="verCostosTerreno">
                        <mat-label>Indique el costo de construcción de caminos (COP/km)</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolConstCaminos"
                
                        />
                    </mat-form-field>
                    <mat-form-field  class="costos-form_item" *ngIf="verCostosTerreno">
                        <mat-label>Indique la cantidad de kilómetros de caminos a construir</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolKmConstCaminos"
                          
                        />
                    </mat-form-field>
                    <mat-form-field  class="costos-form_item" *ngIf="verCostosTerreno">
                        <mat-label>Indique el costo de mantenimiento de caminos (COP/km)</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolMantCaminos"
           
                        />
                    </mat-form-field>
                    <mat-form-field  class="costos-form_item" *ngIf="verCostosTerreno">
                        <mat-label>Indique la cantidad de kilómetros de caminos a mantener</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolKmMantCaminos"
      
                        />
                    </mat-form-field>
                </mat-card>

                
                 <!--Transporte Menor-->
                 <mat-card class="card">
                    <div class="form-label">Sistemas usados para transporte menor</div>
                    <mat-checkbox formControlName="fcontrolFuerzaHumana"  class="costos-form_item" (change)="cambioCheckFHumana()">
                        Fuerza Humana
                    </mat-checkbox>
                    <div id="form-fuerza-humana" *ngIf="verFormHumana">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del volumen (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcVolumenHumana"
            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el costo (COP/m3)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCostoM3Humana"
                        
                            />
                        </mat-form-field>
                        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
                            aria-label="Especificar Costo" (click)="onEspecificarCostoTranspMenor(0)">
                            <span class="mat-button-wrapper">Especificar costo</span>
                        </button>
                    </div>
    
                    <mat-checkbox formControlName="fcontrolMecanizado"  class="costos-form_item" (change)="cambioCheckMecanizado()">
                        Mecanizado
                    </mat-checkbox>
                    <div id="form-mecanizado" *ngIf="verFormMecanizado">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del volumen (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcVolumenMecanizado" 
                
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el costo (COP/m3)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCostoM3Mecanizado" 
                
                            />
                        </mat-form-field>
                        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
                        aria-label="Especificar Costo" (click)="onEspecificarCostoTranspMenor(1)">
                        <span class="mat-button-wrapper">Especificar costo</span>
                    </button>
                    </div>
    
                    <mat-checkbox formControlName="fcontrolFuerzaAnimal"  class="costos-form_item" (change)="cambioCheckAnimal()">
                        Fuerza Animal
                    </mat-checkbox>
                    <div id="form-fuerza-animal" *ngIf="verFormAnimal">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del volumen (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcVolumenAnimal"                               
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el costo (COP/m3)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCostoM3Animal"
                                            
                            />
                        </mat-form-field>  
                        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
                        aria-label="Especificar Costo" (click)="onEspecificarCostoTranspMenor(2)">
                        <span class="mat-button-wrapper">Especificar costo</span>
                    </button>
                    </div>
                 </mat-card>

                <!--Transporte Mayor-->
                <mat-card class="card">
                    <div class="form-label">Sistemas usados para transporte mayor</div> 
                    <mat-checkbox formControlName="fcontrolCamionSencillo"  class="costos-form_item" (change)="cambioCheckSencillo()">
                    Camión Sencillo
                    </mat-checkbox>
                    <div id="form-camion-sencillo" *ngIf="verFormSencillo">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad principal en camión sencillo (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcPrincipalSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad intermedia en camión sencillo (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcIntermediaSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajePrincipalSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajeIntermediaSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoPrincipalSencillo" 
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoIntermediaSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCarguePrincipalSencillo"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCargueIntermediaSencillo"
                                            
                            />
                        </mat-form-field>
                    </div>

                    <mat-checkbox formControlName="fcontrolDobleTroque"  class="costos-form_item" (change)="cambioCheckDobleTroque()">
                        Doble Troque
                    </mat-checkbox>
                    <div id="form-mecanizado" *ngIf="verFormDobleTroque">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad principal en doble troque (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcPrincipalDT"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad intermedia en doble troque (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcIntermediaDT"
                                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajePrincipalDT"
                                        
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajeIntermediaDT"
        
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoPrincipalDT"
            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoIntermediaDT"
                
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCarguePrincipalDT"
            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCargueIntermediaDT"
            
                            />
                        </mat-form-field>
                    </div>

                    <mat-checkbox formControlName="fcontrolTractoMula"  class="costos-form_item" (change)="cambioCheckTractoMula()">
                        Tractomula
                    </mat-checkbox>
                    <div id="form-tractomula" *ngIf="verFormTractoMula">
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad principal en tracto mula (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcPrincipalTractomula"
                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Indique el porcentaje del total destinado a ciudad intermedia en tracto mula (%)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolPorcIntermediaTractomula"
                    
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajePrincipalTractomula"
                            
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del viaje para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolTotalViajeIntermediaTractomula"
                                        
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoPrincipalTractomula"
                    
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo del certificado de movilización para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolSalvoconductoIntermediaTractomula"
                
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad principal (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCarguePrincipalTractomula"
                        
                            />
                        </mat-form-field>
                        <mat-form-field  class="costos-form_item">
                            <mat-label>Costo de cargue y descargue para ciudad intermedia (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCargueIntermediaTractomula"
            
                            />
                        </mat-form-field>          
                    </div>
                </mat-card>

             <!--Establecimiento-->
             <div>
                <mat-form-field  class="costos-form_item">
                    <mat-label>Indique el costo de establecimiento (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCostoEstablecimiento" 
        
                    />
                </mat-form-field>
                <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
                    aria-label="Especificar Costo" (click)="onEspecificarCostoEstablecimiento()">
                    <span class="mat-button-wrapper">Especificar costo</span>
                </button>
            </div>
                    
            <!--Otros Costos-->
          
            <mat-form-field  class="costos-form_item">
                <mat-label>Indique costo de obtención y presentación CIF (COP/ha)</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolCostoCif"
                 
                />
            </mat-form-field>

            <mat-form-field  class="costos-form_item">
                <mat-label>Modo de cobro de la administración</mat-label>
                <mat-select formControlName="fcontrolModoCobroAdmin" name="modoCobroAdmin" (selectionChange) = "onSelectModoAdmin()">
                    <mat-option *ngFor="let option of listaModosCobroAdmin" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field  class="costos-form_item">
                <mat-label *ngIf="modoValorFijoAdmin">Indique el valor fijo anual (COP)</mat-label>
                <mat-label *ngIf="!modoValorFijoAdmin">Indique el porcentaje</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolCostoAdmin" 
                  
                />
            </mat-form-field>
            <!--Poda-->
                
            <mat-form-field  class="costos-form_item">
                <mat-label>Modo de cobro de las podas</mat-label>
                <mat-select formControlName="fcontrolModoCobroPoda" name="modoCobroAsistencia" (selectionChange) = "onSelectModoPoda()">
                <mat-option *ngFor="let option of listaModosCobroPoda" [value]="option">
                    {{ option }}
                </mat-option>
                </mat-select>
            </mat-form-field>
                
            </div>
                
            <div class="button-container" *ngIf="!verFormPoda">
                <button mat-fab color="primary" aria-label="Agregar Poda" (click)="onAddPoda()" [disabled] = "!aplicaPoda">
                <mat-icon>content_cut</mat-icon>
                </button>
                <mat-label class="button-label">Agregar Costo Poda</mat-label>
            </div>
            
            
            <div formGroupName="fgroupPoda" class="costos-sub-form" *ngIf="verFormPoda">
                <mat-card class="card">
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Indique el año en que se realizará la poda</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolAnioPoda"
                                
                        />
                    </mat-form-field>
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Indique el valor unitario (COP)</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolValorUnitarioAnio"
                            
                        />
                    </mat-form-field>
                    <div class="button-group">
                        <div class="button-container">
                            <button mat-fab color="primary" aria-label="Guardar Poda" (click)="onSavePoda()">
                            <mat-icon>add</mat-icon>
                            </button>
                            <mat-label class="button-label">Guardar Poda</mat-label>
                        </div>
                        <div class="button-container">
                            <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="onCancelarPoda()">
                            <mat-icon>close</mat-icon>
                            </button>
                            <mat-label class="button-label">Cancelar</mat-label>
                        </div>
                    </div>
                </mat-card>
            </div>

            <!--tabla podas-->
            <table mat-table [dataSource]="dataPodas" class="mat-elevation-z8 tabla-costos" *ngIf="listaPodas.length > 0">
  
                <ng-container matColumnDef="anio" sticky>
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                </ng-container>
          
                <ng-container matColumnDef="valor" sticky>
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
            
                <ng-container matColumnDef="accion" >
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element" class="action-link">            
                    <button mat-mini-fab color="primary" (click) = "onDeletePoda(element)" class="accion-button">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="podasColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: podasColumns;"></tr>
            </table>
            
            <!--Mantenimiento-->
            <div class="button-container" *ngIf="!verFormMantenimiento">
                <button mat-fab color="primary" aria-label="Agregar Insumo" (click)="onAddMantenimiento()">
                <mat-icon>handyman</mat-icon>
                </button> 
                <mat-label class="button-label">Agregar Costo Mantenimiento</mat-label>
            </div>
            
            <div formGroupName="fgroupMantenimiento" class="costos-sub-form" *ngIf="verFormMantenimiento">
                <mat-card class="card">
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Indique el año del mantenimiento</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolAnioMantenimiento"             
                        />
                    </mat-form-field>
                    <div>
                        <mat-form-field class="costos-form_item">
                            <mat-label>Indique el costo del mantenimiento (COP/ha)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCostoMantenimientoAnio"             
                            />
                        </mat-form-field>
                        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base costos-form_item" color="primary" 
                            aria-label="Especificar Costo" (click)="onEspecificarCostoMantenimiento()">
                            <span class="mat-button-wrapper">Especificar costo</span>
                        </button>
                    </div>
                    <div class="button-group">
                        <div class="button-container">
                            <button mat-fab color="primary" aria-label="Guardar Mantenimiento" (click)="onSaveMantenimiento()">
                            <mat-icon>add</mat-icon>
                            </button>
                            <mat-label class="button-label">Guardar Mantenimiento</mat-label>
                        </div>
                        <div class="button-container">
                            <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="onCancelarMantenimiento()">
                            <mat-icon>close</mat-icon>
                            </button>
                            <mat-label class="button-label">Cancelar</mat-label>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!--tabla mantenimientos-->
            <table mat-table [dataSource]="dataMantenimientos" class="mat-elevation-z8 tabla-costos" *ngIf="listaMantenimientos.length > 0">
  
                <ng-container matColumnDef="anio" sticky>
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                </ng-container>
          
                <ng-container matColumnDef="valor" sticky>
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
            
                <ng-container matColumnDef="accion" >
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element" class="action-link">            
                    <button mat-mini-fab color="primary" (click) = "onDeleteMantenimiento(element)" class="accion-button">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="mantenimientosColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: mantenimientosColumns;"></tr>
            </table>

             <!--Carbono-->
             <div class="button-container" *ngIf="!verFormCarbono">
                <button mat-fab color="primary" aria-label="Agregar Costo Carbono" (click)="onAddCarbono()">
                <mat-icon>description</mat-icon>
                </button> 
                <mat-label class="button-label">Agregar Costo Bono Carbono</mat-label>
            </div>
            
            <div formGroupName="fgroupCarbono" class="costos-sub-form" *ngIf="verFormCarbono">
                <mat-card class="card">
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Indique el año del costo</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolCostoCarbonoAnio"             
                        />
                    </mat-form-field>
                    <div>
                        <mat-form-field class="costos-form_item">
                            <mat-label>Indique el valor (COP)</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                formControlName="fcontrolCostoCarbono"             
                            />
                        </mat-form-field>
                    </div>
                    <div class="button-group">
                        <div class="button-container">
                            <button mat-fab color="primary" aria-label="Guardar Costo" (click)="onSaveCarbono()">
                            <mat-icon>add</mat-icon>
                            </button>
                            <mat-label class="button-label">Guardar Costo</mat-label>
                        </div>
                        <div class="button-container">
                            <button mat-mini-fab color="warn" aria-label="Cancelar" (click)="onCancelarCarbono()">
                            <mat-icon>close</mat-icon>
                            </button>
                            <mat-label class="button-label">Cancelar</mat-label>
                        </div>
                    </div>
                </mat-card>
            </div>
            <!--tabla costos carbono-->
            <table mat-table [dataSource]="dataCostosCarbono" class="mat-elevation-z8 tabla-costos" *ngIf="listaCostosCarbono.length > 0">
  
                <ng-container matColumnDef="anio" sticky>
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                </ng-container>
          
                <ng-container matColumnDef="valor" sticky>
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
            
                <ng-container matColumnDef="accion" >
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element" class="action-link">            
                    <button mat-mini-fab color="primary" (click) = "onDeleteCarbono(element)" class="accion-button">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="costosCarbonoColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: costosCarbonoColumns;"></tr>
            </table>

             <!--Otro costo-->
             <div class="button-container" *ngIf="!verFormOtrosCostos">
                <button mat-fab color="primary" aria-label="Agregar Insumo" (click)="onAddOtroCosto()">
                <mat-icon>attach_money</mat-icon>
                </button> 
                <mat-label class="button-label">Agregar Otro Costo</mat-label>
            </div>
            <div formGroupName="fgroupOtroCosto" class="costos-sub-form" *ngIf="verFormOtrosCostos">
                <mat-card class="card">
                    <mat-form-field  class="costos-form_item">
                        <mat-label>Descripción</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="fcontrolDescrOtroCosto"             
                        />
                    </mat-form-field>

                    <mat-form-field  class="costos-form_item">
                        <mat-label>Año</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontrolAnioOtroCosto"             
                        />
                    </mat-form-field>

                    <mat-form-field  class="costos-form_item">
                        <mat-label>Valor (COP)</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            formControlName="fcontroValorOtroCosto"             
                        />
                    </mat-form-field>
                    <div class="button-group">
                        <div class="button-container">
                            <button mat-fab color="primary" aria-label="Guardar Mantenimiento" (click)="onSaveOtroCosto()">
                            <mat-icon>add</mat-icon>
                            </button>
                            <mat-label class="button-label">Guardar Costo</mat-label>
                        </div>
                        <div class="button-container">
                            <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="onCancelarOtroCosto()">
                            <mat-icon>close</mat-icon>
                            </button>
                            <mat-label class="button-label">Cancelar</mat-label>
                        </div>
                    </div>
                </mat-card>
            </div>
            
            <!--tabla otros costos-->
            <table mat-table [dataSource]="dataOtrosCostos" class="mat-elevation-z8 tabla-costos" *ngIf="listaOtrosCostos.length > 0">
                <ng-container matColumnDef="nombre" sticky>
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>
          
                <ng-container matColumnDef="anio" sticky>
                    <th mat-header-cell *matHeaderCellDef> Año </th>
                    <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                  </ng-container>

                <ng-container matColumnDef="valor" sticky>
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
            
                <ng-container matColumnDef="accion" >
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element" class="action-link">            
                    <button mat-mini-fab color="primary" (click) = "onDeleteOtroCosto(element)" class="accion-button">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="otrosCostosColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: otrosCostosColumns;"></tr>
            </table>
        </form>
</ng-container>