.costos-container{
    margin: 30px;
}
.costos-form{
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
    &_item {
      width: 50%;
      margin:10px;
      @media (max-width: 600px) {
        width: 90%;
      }
    }
}

.button-container{
margin: 30px;
display: grid;
justify-content: center;
justify-items: center;
}

.button-label{
margin-top: 10px;
}

.form-poda-item{
  //width: 100%;
}

.costos-sub-form{
  //width: 100%;
  //border: solid 1px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.form-label{
  //width: 100%;
  justify-items: left;
  display: flex;
  margin: 10px;
}

.tabla-costos{
  //width: 100%;
  margin: 20px;
}

.form-radios{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 30px;
  padding: 10px;
}

.card {
  border: solid 1px lightgray;
  margin: 10px;
}

