<ng-container>
  <div class="costos--costo-de-aprovechamiento">
    <mfs-sistema
      [materiales]="materiales"
      [nombre]="'Costos de Aprovechamiento'"
      [sistema]="aprovechamiento.Sistema"
      (guardarSistema)="guardarSistema($event)"></mfs-sistema>
    <br/>
    <table mat-table [dataSource]="dataSource" class="tabla-costos-de-aprovechamiento">
      <!-- Position Column -->
      <ng-container matColumnDef="tipoMaderaProducto">
        <th mat-header-cell *matHeaderCellDef> Tipo de madera/producto</th>
        <td mat-cell *matCellDef="let element"> {{ element.tipoMaderaProducto }} </td>
      </ng-container>

      <ng-container matColumnDef="costosCalculados">
        <th mat-header-cell *matHeaderCellDef> Costos calculados COP/m3</th>
        <td mat-cell *matCellDef="let element"> {{ element.costosCalculados }} </td>
      </ng-container>

      <ng-container matColumnDef="indice">
        <th mat-header-cell *matHeaderCellDef> Costos ingresados por usuario (COP/m3)</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="especie--producto-form__item" appearance="fill">
            <input
              matInput
              type="number"
              formControlName="costoIngresado{{ element.indice }}"
              placeholder="$"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tabla"></tr>
      <tr mat-row *matRowDef="let row; columns: tabla;"></tr>
    </table>
  </div>
</ng-container>
