:host ::ng-deep .costos--costo-de-aprovechamiento {
  .mat-form-field {
    margin-left: 8px;
  }

  .mat-button-base.mat-primary {
    background-color: #00963a;
  }

  .tabla-costos-de-aprovechamiento {
    margin-bottom: 2rem;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0,0,0,.12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }
  }
}
