<ng-container>
  <div class="costos-container">

    <!--Costos-->
    <mat-tab-group dynamicHeight animationDuration="0ms">
      <mat-tab label="Asistencia técnica">
        <mfs-costos-asistencia-tecnica
          [default]="listaCostos.AsistenciaTecanica"
          [ucas]="ucas"
          (eventoAsistencia)="actualizarAsistenciaTecnica($event)"
        ></mfs-costos-asistencia-tecnica>
      </mat-tab>
      <mat-tab label="Maquinaria y equipo">
        <mfs-lista-costos
          [default]="listaCostos.Maquinaria.Costos"
          [label]="'Inversion Inicial: Maquinaria y equipo'"
          (guardarCostos)="actualizarMaquinaria($event)"></mfs-lista-costos>
      </mat-tab>
      <mat-tab label="Costo de la tierra">
        <mfs-costos-costo-de-la-tierra
          [default]="listaCostos.Tierra"
          (tierraEvent)="actualizarTierra($event)"
        ></mfs-costos-costo-de-la-tierra>
      </mat-tab>
      <mat-tab label="Construcción y mantenimiento de caminos">
        <mfs-costos-construccion-y-mantenimiento
          [default]="listaCostos.Caminos"
          (costosCaminosEvent)="actualizarCostosCaminos($event)"
        ></mfs-costos-construccion-y-mantenimiento>
      </mat-tab>
      <mat-tab label="Costo de aprovechamiento">
        <mfs-costos-costo-de-aprovechamiento
          [default]="listaCostos.Aprovechamiento"
          (aprovecamientoEvent)="actualizarAprovechamiento($event)"
          [materiales]="materiales"
        ></mfs-costos-costo-de-aprovechamiento>
      </mat-tab>
      <mat-tab label="Transporte menor">
        <mfs-porcentajes-asignacion-sistema
          [default]="listaCostos.TransporteMenor"
          [materiales]="materiales"
          [sistemas]="sistemasTransporteMenor"
          (porcentajeAsignacionEvent)="actualizarTransporteMenor($event)"
        ></mfs-porcentajes-asignacion-sistema>
      </mat-tab>
      <mat-tab label="Transporte mayor">
        <mfs-costos-transporte-mayor
          [default]="listaCostos.TransporteMayor"
          [ciudades]="ciudades"
          (transporteMayorEvent)="actualizarTransporteMayor($event)"
        ></mfs-costos-transporte-mayor>
      </mat-tab>
      <mat-tab label="Impuestos y Otros costos">
        <mfs-costos-impuestos-y-otros-costos
          [default]="listaCostos.Otros"
          [ucas]="ucas"
          (impuestosEvent)="actualizarImpuestosOtrosCostos($event)"
        ></mfs-costos-impuestos-y-otros-costos>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
