<ng-container>
  <div class="costos-impuestos-y-otros">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Administración sobre los costos totales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-checkbox formControlName="tipoDeAdministracion">¿El valor es porcentual?</mat-checkbox>
          <br>
          <br>

          <mat-form-field class="costos-impuestos-y-otros-form__item" appearance="fill">
            <mat-label>costos</mat-label>
            <input
              matInput
              type="number"
              formControlName="administracionDeLosCostos"
            />
          </mat-form-field>

        </mat-card-content>
      </mat-card>


      <mfs-multiple-values
        (eventoMultipleValues)="actualizarCarbono($event)"
        [label]="'Carbono'"
        [size]="ucas"
        [inputLabel]="'Uca'"
        [default]="carbono"
      ></mfs-multiple-values>

      <mat-card>
        <mat-form-field class="costos-impuestos-y-otros-form__item" appearance="fill">
          <mat-label>Medidas de compensación</mat-label>
          <input
            matInput
            type="number"
            formControlName="medidasDeCompensacion"
          />
        </mat-form-field>
        <mat-form-field
          class="costos-impuestos-y-otros-form__item"
          appearance="fill"
          *ngIf="tieneRenta"
        >
          <mat-label>Tasa de renta</mat-label>
          <input
            matInput
            type="number"
            formControlName="tasaDeRenta"
            placeholder="%"
          />
        </mat-form-field>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Otros Costos</mat-card-subtitle>
        </mat-card-header>
        <mat-expansion-panel hideToggle *ngFor="let costos of otrosCostos; let i = index" class="costos-uca">
          <mat-expansion-panel-header>
            <mat-panel-title>
              UCA {{i + 1}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mfs-lista-costos
            [default]="costos"
            [label]="'Lista de costos'"
            (guardarCostos)="actualizarCostos($event, i)"
          ></mfs-lista-costos>
        </mat-expansion-panel>
      </mat-card>
      <br>

      <button
        mat-raised-button
        color="primary"
      >Guardar
      </button>
    </form>
  </div>
</ng-container>
