:host ::ng-deep .costos-impuestos-y-otros {
  .mat-form-field,
  .mat-checkbox {
    margin-left: 8px;
  }

  .mat-card {
    margin: 0 0 1rem;
  }
  .costos-uca {
    margin-bottom: 15px;
  }

  .mat-button-base.mat-primary {
    background-color: #00963a;
  }

  .costos-impuestos-y-otros-form__item {
    width: 60%;
  }


}
