@import "../../../styles.scss";

.main-container {
  height: 80%;
  display: flex;
  color: $white-100;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    margin-top: 20%;
    align-items: flex-start;
  }
  @media (max-width: 320px) {
    margin-top: 3%;
    align-items: flex-start;
  }
  &__card {
    width: 600px;
    padding: 30px 50px;
    border-radius: 20px;
    flex-direction: column;
    background-color: $green-250;
    box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.2);
    @media (max-width: 600px) {
      font-size: 1rem;
      width: 60%;
    }
    &__header {
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 1.6rem;
        margin-bottom: 40px;
        @media (max-width: 600px) {
          font-size: 1.2rem;
        }
      }
      &__description {
        font-size: 1rem;
        @media (max-width: 600px) {
          font-size: 0.9rem;
        }
        margin-bottom: 30px;
      }
    }
    &__body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &__item {
        width: 70%;
        padding: 20px;
        cursor: pointer;
        font-size: 1.4rem;
        color: $green-400;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: $white-100;
        &:hover {
          margin-right: 2px;
          -webkit-box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.46);
        }
        @media (max-width: 600px) {
          font-size: 0.9rem;
          padding: 10px;
          width: 90%;
        }
      }
    }
  }
}
