<div class="main-container">
  <div class="main-container__card">
    <div class="main-container__card__header">
      <label class="main-container__card__header__title"
        >Modelos Forestales</label
      >
      <label class="main-container__card__header__description"
        >Selecciona el modelo forestal a calcular
      </label>
    </div>
    <div class="main-container__card__body">
      <ng-container *ngFor="let model of models">
        <div class="main-container__card__body__item" [routerLink]="model.href">
          {{ model.name }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
