<div class="footer-container">
  <a
    href="https://onfandina.com/"
  >
    <img
      class="footer-container__img isolated"
      src="../../../assets/onfa-logo.png"
      alt="Onf Andina"
    />
  </a>
  <a href="https://gggi.org/">
    <img
      class="footer-container__img"
      src="../../../assets/gggi-logo-original.svg"
      alt="gggi"
    />
  </a>
</div>
