.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  padding: 20px;

  @media (max-width: 600px) {
    justify-content: center;
  }
  @media (min-width: 1450px) {
    margin-right: 10%;
  }

  &__img {
    width: 95px;
    height: 42px;
    @media (max-width: 600px) {
      width: 70px;
      height: 35px;
    }
  }
}

.isolated {
  margin-right: 15px;
}
