<ng-container>
  <div class="navbar-container">
    <app-sidebar (getNavBar)="updateNavBar($event)"></app-sidebar>
    <div [ngClass]="openNavBar ? 'enable-backdropp' : 'disable-backdropp'"></div>
  </div>
</ng-container>
