@import "../../../styles.scss";

.navbar-container {
  display: flex;
  background-color: $green-300;
  justify-content: space-between;
  &__burguer {
    width: 80px;
    filter: invert(100%);
    cursor: pointer;
  }
}

.enable-backdropp {
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(4px);
  animation: fadeIn linear 150ms;
  -o-animation: fadeIn linear 150ms;
  -ms-animation: fadeIn linear 150ms;
  -moz-animation: fadeIn linear 150ms;
  -webkit-animation: fadeIn linear 150ms;
}
