<ng-container>
  <div class="mfs-ingresos">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Ingresos por ventas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="tabla-ingresos">

          <ng-container matColumnDef="uca">
            <th mat-header-cell *matHeaderCellDef> UCA</th>
            <td mat-cell *matCellDef="let element"> {{element.uca}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="principal">
            <th mat-header-cell *matHeaderCellDef> Ingresos ciudad principal</th>
            <td mat-cell *matCellDef="let element"> {{element.principal| currency}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="intermedia">
            <th mat-header-cell *matHeaderCellDef> Ingresos ciudad intermedia</th>
            <td mat-cell *matCellDef="let element"> {{element.intermedia| currency}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="carretera">
            <th mat-header-cell *matHeaderCellDef> Ingresos borde carretera</th>
            <td mat-cell *matCellDef="let element"> {{element.carretera| currency}} </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef><strong>Total</strong></th>
            <td mat-cell *matCellDef="let element"><strong>{{element.total| currency}}</strong></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

        </table>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Otros ingresos</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="formIngresos" class="form-ingresos" (ngSubmit)="guardarIngresos()">

        <mat-form-field class="form-general__item" appearance="fill">
          <mat-label>Ingresos por incentivos <strong>%</strong></mat-label>
          <input
            type="number"
            matInput
            formControlName="fcontrolIncentivos"
          />
        </mat-form-field>
        <br/>
        <mat-form-field class="form-general__item" appearance="fill">
          <mat-label>Ingresos por carbono<strong>%</strong></mat-label>
          <input
            type="number"
            matInput
            formControlName="fcontrolCarbono"
          />
        </mat-form-field>

        <br/>
        <button
          mat-raised-button
          color="primary"
        >Guardar
        </button>
      </form>
    </mat-card>
  </div>
</ng-container>
