<h1>Costos Establecimiento</h1>
<div [formGroup]="costoEstablecimientoForm">
    <table>
        <tr>
            <th>Concepto</th>
            <th>Unidades</th>
            <th>Cantidades</th>
            <th>Valor Diario</th>
        </tr>
        <ng-container formArrayName="costos" *ngFor="let costo of costos.controls; let index = index;">     
            <tr [formGroupName]="index">
                
                <td class="concepto">
                    <input type="text" formControlName='concepto' id="{{'concepto'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="unidades">
                    <input type="text" formControlName='unidades' id="{{'unidades'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="cantidades">
                    <input type="number" formControlName='cantidades' id="{{'cantidades'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="valor-diario">
                    <input type="number" formControlName='valorDiario' id="{{'valorDiario'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td>
                    <button (click)="onRemoveItem(index)">Eliminar</button>
                </td>
            </tr>
        </ng-container>
        <mat-form-field  class="form-proyecto_item">
            <mat-label>Indique el valor del rendimiento diario (m3)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolRendimiento"
                min="0"
                (change)="obtenerTotalCostos()"
            />
        </mat-form-field>
        <div>
            <h4>Total costos: {{totalCostosEstablecimiento}}</h4>
        </div>
    </table>
    <button mat-button (click)="onAddItem()" *ngIf="costoEstablecimientoForm.get('costos')">Añadir Item</button>
    <button mat-button [mat-dialog-close]="totalCostosEstablecimiento" cdkFocusInitial>Guardar</button>
</div>