<ng-container>

  <div class="costos-construccion-y-mantenimiento">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Construcción</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Valor (km)</mat-label>
            <input matInput formControlName="construccionValorKm" (keyup)="onKey($event)"/>
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Cantidad (km)</mat-label>
            <input
              type="number"
              matInput
              formControlName="construccionCantidadKm"
              (keyup)="onKey($event)"
            />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <br>

      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Mantenimiento</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Valor (km)</mat-label>
            <input matInput formControlName="mantenimientoValorKm" (keyup)="onKey($event)"/>
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Cantidad (km)</mat-label>
            <input
              type="number"
              matInput
              formControlName="mantenimientoCantidadKm"
              (keyup)="onKey($event)"
            />
          </mat-form-field>
        </mat-card-content>
      </mat-card>


      <br/>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Costo total caminos</mat-card-title>
          <mat-card-subtitle>{{ total | currency }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <br/>

      <button
        mat-raised-button
        color="primary"
      >Guardar
      </button>
    </form>
  </div>
</ng-container>
