<ng-container>

  <div class="sistemas">
    <mat-card>
      <mat-card-header *ngIf="nombre">
        <mat-card-subtitle>{{nombre}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <!--Form Sistema-->
        <form [formGroup]="formGroupFields" class="sistema-field">
          <mat-form-field *ngIf="!nombre" class="sistema-form__item" appearance="fill">
            <mat-label>Tipo de sistema</mat-label>
            <input
              matInput
              type="text"
              formControlName="fcontrolNombre"
              [placeholder]="placeholder"
              [matAutocomplete]="auto"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="actualizarPlaceholder($event.option.value)">
              <mat-option *ngFor="let option of nombresFiltrados | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="sistema-form__item" appearance="fill">
            <mat-label>Costo</mat-label>
            <mat-select formControlName="fcontrolTipo" name="fcontrolTipo" (selectionChange)="cambioTipo()">
              <mat-option value="fijo">Valores Fijos</mat-option>
              <mat-option value="detallado">Valores Detallados</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <form [formGroup]="formGroupSistemaFijo" *ngIf="tipoSistema === 'fijo'" class="sistema-field">
          <!--Form Sistema Fijo-->
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle><strong>Maderas</strong> (Costo por m3)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field *ngFor="let material of maderas; let i=index" class="sistema-form__item"
                              appearance="fill">
                <mat-label>{{material.Nombre}}</mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="material.Nombre"
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card *ngIf="pfnm.length > 0">
            <mat-card-header>
              <mat-card-subtitle><strong>Productos forestales no maderables</strong></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field *ngFor="let material of pfnm; let i=index" class="sistema-form__item"
                              appearance="fill">
                <mat-label>{{material.Nombre}} (Costo por {{material.Unidades}})</mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="material.Nombre"
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>

        </form>
        <form [formGroup]="formGroupSistemaDetallado" *ngIf="tipoSistema === 'detallado'"
              class="sistema-field sistema-detallado-datos">
          <!--Form Sistema Fijo-->
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle><strong>Maderas</strong> (factor de rendimiento por m3)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field *ngFor="let material of maderas; let i=index" class="sistema-form__item"
                              appearance="fill">
                <mat-label>{{material.Nombre}}</mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="material.Nombre"
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card *ngIf="pfnm.length > 0">
            <mat-card-header>
              <mat-card-subtitle><strong>Productos forestales no maderables</strong></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field *ngFor="let material of pfnm; let i=index" class="sistema-form__item"
                              appearance="fill">
                <mat-label>{{material.Nombre}} (rendimiento por {{material.Unidades}})</mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="material.Nombre"
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </form>
        <br/>

        <mfs-sistema-costos *ngIf="tipoSistema === 'detallado'" [costos]="costosSistemaDetallado"
                            (guardarCostos)="actualizarCostosSistema($event)"></mfs-sistema-costos>

        <button
          mat-raised-button
          color="primary"
          (click)="guardar()"
          class="crear-sistema"
        >Guardar
        </button>

        <button
          mat-raised-button
          color="accent"
          (click)="cancelar()"
          class="cancelar-sistema"
          *ngIf="verCancelar"
        >Cancelar
        </button>

      </mat-card-content>
    </mat-card>


  </div>


</ng-container>
