:host ::ng-deep .especies-transformacion {
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .tabla-de-productos {
    margin-bottom: 2rem;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0,0,0,.12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }
  }
}
