<ng-container>
  <div class="especies-transformacion">
    Transformación


  <table mat-table [dataSource]="dataSourceProductos" class="tabla-de-productos" *ngIf="productos.length > 0">

    <ng-container matColumnDef="nombreProducto" class="borde padding">
      <th mat-header-cell *matHeaderCellDef> Productos a obtener </th>
      <td mat-cell *matCellDef="let element"> {{ element.nombreProducto }} </td>
    </ng-container>

    <ng-container matColumnDef="factorTransformacion" class="padding">
      <th mat-header-cell *matHeaderCellDef> Factor de transformación por producto </th>
      <td mat-cell *matCellDef="let element"> {{ element.factorTransformacion }}% </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tablaDeProductos"></tr>
    <tr mat-row *matRowDef="let row; columns: tablaDeProductos;"></tr>
  </table>
  </div>
</ng-container>
