<ng-container>
  <div class="mfs-export">
    <div class="export">
      <button mat-fab color="primary" aria-label="Guardar MFS" (click)="downloadMfs()">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
