.form-inversion {
    margin: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
    &_item {
      width: 45%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }


.form-credito {
  margin: 30px 30px 0px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
  }
  &_item {
    width: 100%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}


  
