<ng-container>
    <div class="modelo-inversion-container">
        <form [formGroup]="formgModeloInversion" class="form-inversion">
            <label>Indique las fuentes de recursos para el proyecto</label>
            <mat-form-field  class="form-inversion_item">
                <mat-label>Incentivo (COP)</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolIncentivo"
                />
            </mat-form-field> 
        
            <mat-form-field  class="form-inversion_item">
                <mat-label>Capital de Terceros (COP)</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName = "fcontrolTerceros"
                />
            </mat-form-field>
        
            <mat-form-field  class="form-inversion_item">
                <mat-label>Recursos Propios (COP)</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolPropios"
                />
            </mat-form-field>

            <!--Credito-->
            <mat-checkbox formControlName="fcontrolCredito"  class="form-inversion_item" (change)="cambioCheck()">Aplica crédito</mat-checkbox>
            <div class="form-inversion_item" *ngIf="esCredito">
                <mat-form-field  class="form-credito_item">
                    <mat-label>Capital solicitado (COP)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCapitalSolicitado"
                    />
                </mat-form-field>
                <mat-form-field  class="form-credito_item">
                    <mat-label>Tasa de interés (%)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolTasaInteres"
                        (change)="cambioTasaInteres()"
                    />
                </mat-form-field>
                <mat-form-field  class="form-credito_item">
                    <mat-label>Plazo de la deuda (meses)</mat-label>
                    <input 
                        type="number" merc
                        matInput 
                        formControlName="fcontrolPlazoDeuda"
                    />
                </mat-form-field>
                <mat-form-field  class="form-credito_item">
                    <mat-label>Periodicidad de pago</mat-label>
                    <mat-select formControlName="fcontrolPeriodoCuota" name="periodoCuota">
                        <mat-option *ngFor="let option of rangoPagoCuota" [value]="option">
                            {{ option }}
                        </mat-option>
                        </mat-select>
                </mat-form-field>
            </div>

        </form>
    </div>
</ng-container>