@import "./colors.scss";

@mixin navigation-container($single) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 30px;
  @if $single {
    justify-content: flex-end;
  } @else {
    justify-content: space-between;
  }
}

@mixin navigation-button {
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 8px 16px;
  color: $white-100;
  border-radius: 100%;
  cursor: pointer;
  background-color: $blue-300;
  &:hover {
    background-color: $blue-200;
  }
}

@mixin form-container($type) {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @if $type == 'inline'{
    justify-content: space-evenly;
  }
  @if $type == 'linear'{
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    margin: 0px;
  }
}