:host ::ng-deep .costos-container {
  margin: 15px 0;
  @media (min-width: 1280px) {
    margin: 30px;

    .mat-tab-group {
      flex-direction: row;
    }

    .mat-tab-header {
      border-bottom: none;
    }

    .mat-tab-header-pagination {
      display: none !important;
    }

    .mat-tab-labels {
      flex-direction: column;
    }

    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
      background-color: #00963a;
    }

    .mat-tab-body-wrapper {
      flex: 1 1 auto;
    }

    .mat-tab-label-active {
      background: #00963a;
      color: #fff;
    }

    .mat-tab-body-content {
      padding: 10px;
    }

  }
}


