<ng-container>
  <div class="costos-container">

    <!--Costos-->
    <!--    <mat-tab-group dynamicHeight animationDuration="0ms" (selectedTabChange)="transformacione.update()">-->
    <mat-tab-group dynamicHeight animationDuration="0ms">
      <mat-tab label="Plazas de venta">
        <mfs-especies-plazas-de-venta
          [default]="plazas"
          (eventoPlazasDeVenta)="actualizarPlazasDeVenta($event)"></mfs-especies-plazas-de-venta>
      </mat-tab>
      <mat-tab label="Información de las especies">
        <mfs-especies-info-de-las-especies
          [default]="default"
          [plazaPrincipal]="especiesData.PlazaPrincipal"
          [plazaIntermedia]="especiesData.PlazaIntermedia"
          [materiales]="materiales"
          [sistemasTransformacion]="sistemasTransformacion"
          (guardarEspecies)="actualizarEspecies($event)"
        ></mfs-especies-info-de-las-especies>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
