@import "../../../styles/mixins.scss";

:host ::ng-deep .mfs {
  .form-container__body {
    @media (max-width: 600px) {
      padding: 0;
    }
  }

  .mfs-entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 20px;

    button, > div {
      margin: 10px;
    }
  }

  .mat-card {
    @media (max-width: 600px) {
      padding: 5px;
    }
  }

  .mfs-export-container {
    position: fixed;
    bottom: 0;
    right: 1vw;
    transform: translateY(110%);
  }

  .stepper-label {
    font-size: 0.8rem;
  }

  .button-container {
    margin-top: 20px;
    padding: 20px 0;
    @include navigation-container(false);

    &__button {
      @include navigation-button;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  .button-container--initial {
    @include navigation-container(true);

    &__button {
      @include navigation-button;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}
