<app-card-form [title]="'Manejo Forestal Sostenible'" class="mfs">

  <div *ngIf="!editing" class="mfs-entrada">
    <button mat-raised-button color="primary" (click)="empezarMfs()">Empezar nuevo modelo</button>
    <mfs-import (eventoImportarMfs)="importarMfs($event)"></mfs-import>
  </div>

  <mat-stepper
    *ngIf="editing"
    labelPosition="bottom"
    [orientation]="(stepperOrientation | async)!"
    (selectionChange)="selectionChange($event)"
    class="mfs-stepper"
    [linear]="!ubicacion?.completo"
  >
    <mat-step [completed]="ubicacion?.completo || false">
      <ng-template matStepLabel>
        <label class="stepper-label">Ubicación</label>
      </ng-template>
      <mfs-ubicacion [default]="mfsData.Ubicacion" (eventoUbicacion)="actualizarUbicacion($event)"></mfs-ubicacion>
      <div class="button-container button-container--initial">
        <button class="button-container__button" matStepperNext (click)="ubicacion.validar()">></button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Modelo Financiero</label>
      </ng-template>
      <mfs-modelo-financiero
        [default]="mfsData.ModuloFinanciero"
        (eventoModuloFinanciero)="actualizarModuloFinanciero($event)"
      ></mfs-modelo-financiero>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>>
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">General</label>
      </ng-template>
      <mfs-general
        [default]="mfsData.InformacionGeneral"
        (eventoInformacionGeneral)="actualizarInformacionGeneral($event)"
      ></mfs-general>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">PFNM</label>
      </ng-template>
      <mfs-productos (guardarProductos)="actualizarMateriales($event)"></mfs-productos>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Sistemas de transformación</label>
      </ng-template>
      <mfs-sistemas-transformacion
        [default]="mfsData.SistemasTransformacion"
        [materiales]="mfsData.Materiales"
        (guardarSistemas)="actualizarSistemasTransformacion($event)"
      ></mfs-sistemas-transformacion>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Especies</label>
      </ng-template>
      <mfs-especies
        [default]="mfsData.InformacionEspecies"
        [materiales]="mfsData.Materiales"
        [sistemasTransformacion]="sistemasTransformacion"
        (eventoEspecies)="actualizarEspecies($event)"></mfs-especies>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Transporte Menor</label>
      </ng-template>
      <mfs-sistemas-transporte-menor
        [default]="mfsData.SistemasTransporteMenor"
        [materiales]="mfsData.Materiales"
        (guardarSistemas)="actualizarSistemasTransporteMenor($event)"></mfs-sistemas-transporte-menor>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Costos</label>
      </ng-template>
      <mfs-costos
        [default]="mfsData.Costos"
        [materiales]="mfsData.Materiales"
        [sistemasTransformacion]="sistemasTransformacion"
        [sistemasTransporteMenor]="sistemasTransporteMenor"
        [ucas]="ucas"
        [persona]="mfsData.InformacionGeneral.Persona"
        (costosEvent)="actualizarCostos($event)"
      ></mfs-costos>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Ingresos</label>
      </ng-template>
      <mfs-ingresos
        [default]="mfsData.OtrosIngresos"
        [mfs]="mfsData"
      ></mfs-ingresos>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Flujo Caja</label>
      </ng-template>
      <mfs-flujo-caja [mfs]="mfsData"></mfs-flujo-caja>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <label class="stepper-label">Sensibilidad</label>
      </ng-template>
      <mfs-sensibilidad
        [mfs]="mfsData"
        [default]="mfsData.Sensibilidad"
        (eventoSensibilidad)="actualizarSensibilidad($event)"
      ></mfs-sensibilidad>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="sensibilidad.guardar()"><</button>
      </div>
    </mat-step>

  </mat-stepper>

  <div class="mfs-export-container" *ngIf="editing">
    <mfs-export
      [mfsData]="mfsData"
    ></mfs-export>
  </div>
</app-card-form>
