@import "../../../styles.scss";

.form-container {
  margin: 30px;
  border: 1px solid $grey-200;
  border-radius: 8px;
  @media (max-width: 600px) {
    margin: 15px 4px;
  }
  @media (min-width: 1450px) {
    margin: 40px 10%;
  }
  &__title {
    height: 60px;
    display: flex;
    color: $white-100;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    background-color: $green-300;
    border-radius: 8px 8px 0px 0px;
    @media (max-width: 600px) {
      font-size: 1rem;
      text-align: center;
    }
  }

  &__body {
    padding: 30px;
    backdrop-filter: blur(5px);
  }
}