@import "../../../../styles/mixins.scss";

.transporte-container {
  @include form-container("linear");
  &__items {
    width: 48%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &__type {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    border: 1px solid $grey-300;
    justify-content: space-between;
    @media (max-width: 600px) {
      padding: 20px;
    }
  }
  &__title {
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }
}

.transporte-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-left: 5px solid $blue-300;
  @media (max-width: 600px) {
    border-left: 2px solid $blue-300;
  }
}
