<div class="transporte-container">
  <label class="transporte-container__title"
    >Selecciona al menos un tipo de transporte y agrégalo</label
  >
</div>
<div class="transporte-container">
  <div class="transporte-container__type transporte-content">
    <mat-form-field class="transporte-container__items">
      <mat-label>Transporte Menor</mat-label>
      <mat-select
        [(ngModel)]="tranposrte_menor"
        name="transporteMenor"
        disabled
      >
        <mat-option
          *ngFor="let option of transporteValues"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Tipo de Transporte Menor</mat-label>
      <mat-select [(ngModel)]="transporte_submenor" name="transporteSubMenor">
        <mat-option
          *ngFor="let option of transporteMenorValues"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Ingresa la distancia Km</mat-label>
      <input
        matInput
        placeholder="%"
        [(ngModel)]="transporte_menor_distancia"
      />
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Ingresa el Valor ($/Ton/Km)</mat-label>
      <input matInput placeholder="%" [(ngModel)]="transporte_menor_valor" />
    </mat-form-field>
  </div>

  <div class="transporte-container__type transporte-content">
    <mat-form-field class="transporte-container__items">
      <mat-label>Transporte Mayor</mat-label>
      <mat-select
        [(ngModel)]="tranposrte_mayor"
        name="transporteMayor"
        disabled
      >
        <mat-option
          *ngFor="let option of transporteValues"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Tipo de Transporte Menor</mat-label>
      <mat-select [(ngModel)]="transporte_submayor" name="transporteSubMayor">
        <mat-option
          *ngFor="let option of transporteMayorValues"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Ingresa la distancia Km</mat-label>
      <input
        matInput
        placeholder="%"
        [(ngModel)]="transporte_mayor_distancia"
      />
    </mat-form-field>

    <mat-form-field class="transporte-container__items">
      <mat-label>Ingresa el Valor ($/Ton/Km)</mat-label>
      <input matInput placeholder="%" [(ngModel)]="transporte_mayor_valor" />
    </mat-form-field>
  </div>
</div>
