<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Información General</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formGeneral" class="form-general">

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Tipo de persona</mat-label>
        <mat-select formControlName="fcontrolTipoPersona" name="fcontrolTipoPersona"
                    (selectionChange)="cambioPersona()">
          <mat-option value="natural">Natural</mat-option>
          <mat-option value="juridica">Jurídica</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-general__item" appearance="fill" *ngIf="tipoPersona === 'juridica'">
        <mat-label>Tipo de entidad</mat-label>
        <mat-select formControlName="fcontrolTipoEntidad" name="fcontrolTipoEntidad">
          <mat-option value="lucro">Entidad con ánimo de lucro</mat-option>
          <mat-option value="sinLucro">Entidad sin ánimo de lucro</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>UVT</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolUVT"
        />
      </mat-form-field>
      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Número de familias</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolFamilias"
        />
      </mat-form-field>
      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Área UMF (ha)</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolAreaUmf"
        />
      </mat-form-field>

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Área de bosque aprovechable</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolAreaBosque"
        />
      </mat-form-field>

      <mat-form-field class="form-general__item" appearance="fill" (change)="cambioTurnos()">
        <mat-label>Turno (años)</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolTurnos"
        />
      </mat-form-field>

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Número de Unidades de Corta Anual (UCA)</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolUca"
          (change)="cambioUcas()"
        />
      </mat-form-field>

      <mfs-multiple-values (eventoMultipleValues)="actualizarAreaAnual($event)"
                           [label]="'Área Unidad de Corta Anual (ha)'"
                           [control]="inputType"
                           [size]="ucas"
                           [default]="areaUca"
                           [inputLabel]="'Uca'"
                           *ngIf="ucas > 0"></mfs-multiple-values>
      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>M3HaOtorgadosUca1</mat-label>
        <input
          type="number"
          matInput
          formControlName="fcontrolM3HaOtorgadosUca1"
        />
      </mat-form-field>
    </form>
  </mat-card>
</ng-container>
