<h1>Costos de mantenimiento especificados</h1>
<div [formGroup]="costoMantenimientoForm">
    <table>
        <tr>
            <th>Concepto</th>
            <th>Actividad</th>
            <th>Valor Unitario</th>
            <th>Cantidades por Hectárea</th>
            <th>Costo por Hectárea</th>
        </tr>

        <ng-container formArrayName="costos" *ngFor="let costo of costos.controls; let index = index;">     
            <tr [formGroupName]="index">
                
                <td class="concepto">
                    <input type="text" formControlName='concepto' id="{{'concepto'+ index}}" (change)="obtenerTotalCostosMantenimiento()">
                </td>
                <td class="actividad">
                    <input type="text" formControlName='actividad' id="{{'actividad'+ index}}" (change)="obtenerTotalCostosMantenimiento()">
                </td>
                <td class="valor-unitario">
                    <input type="number" formControlName='valorUnitario' id="{{'valor-unitario'+ index}}" (change)="obtenerTotalCostosMantenimiento()">
                </td>
                <td class="cantidades-hectarea">
                    <input type="number" formControlName='cantidadesHectarea' id="{{'cantidades-hectarea'+ index}}" (change)="obtenerTotalCostosMantenimiento()">
                </td>
                <td class="costo-hectarea">
                    <input type="number" formControlName='costoHectarea' id="{{'costo-hectarea'+ index}}" readonly>
                </td>
                <td>
                    <button (click)="onRemoveItem(index)">Eliminar</button>
                </td>
            </tr>
        </ng-container>
        <div>
            <h4>Total costos: {{totalCostosMantenimiento}}</h4>
        </div>
    </table>
    <button mat-button (click)="onAddItem()" *ngIf="costoMantenimientoForm.get('costos')">Añadir Item</button>
    <button mat-button [mat-dialog-close]="totalCostosMantenimiento" cdkFocusInitial>Guardar</button>
</div>