.form-proyecto {
    margin: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
    &_item {
      width: 45%;
      margin-top: 10px;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

.mat-radio-button{
  margin: 10px;
}

.form-radios{
  display: flex;
  flex-direction:column;
}
