<ng-container>
    <form [formGroup]="formProyecto" class="form-proyecto">
        
        <!--Tipo Persona-->
        <label class="form-proyecto_item">Tipo de persona</label>
        <div class="form-proyecto_item form-radios">
            <mat-radio-group formControlName="fcontrolTipoPersona"   (change) = "cambioPersona()">
                <mat-radio-button class="radio" value="natural" [checked]="true">Natural</mat-radio-button>
                <mat-radio-button class="radio" value="juridica">Jurídica</mat-radio-button>            
            </mat-radio-group>
            <mat-radio-group formControlName="fcontrolTipoEntidad" *ngIf="tipoPersona === 'juridica'" (change) = "cambioEntidad()">
                <mat-radio-button class="radio" value="lucro" >Entidad con ánimo de lucro</mat-radio-button>
                <mat-radio-button class="radio" value="sinLucro" [checked]="true">Entidad sin ánimo de lucro</mat-radio-button>
            </mat-radio-group>            
        </div>
        
        <!--Instrumentos-->
        <div class="form-proyecto_item form-radios">
            <mat-checkbox formControlName="fcontrolInstrumentos"  (change) = "cambioInstrumento()">
               <span *ngIf="validaInstrumentos">{{textoInstrumentos}}</span> 
               <span *ngIf="!validaInstrumentos" style="color: red;">{{textoInstrumentos}}</span> 
            </mat-checkbox>
        </div>

        <!--Caracterización-->
        <div class="form-proyecto_item form-radios">
            <mat-checkbox formControlName="fcontrolCaracterizaciones" (change) = "cambioCaracter()">                
                <span *ngIf="validaCaracterizaciones">¿Cuenta con caracterizaciones ecológicas y socioeconómicas del área?</span> 
                <span *ngIf="!validaCaracterizaciones" style="color: red;">¿Cuenta con caracterizaciones ecológicas y socioeconómicas del área?</span> 
            </mat-checkbox> 
        </div>

        <mat-form-field  class="form-proyecto_item" *ngIf="flujoActual != 'restauracion'">
            <mat-label>Área total del predio (ha)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolAreaTotal"
            />
        </mat-form-field>
        
        <mat-form-field  class="form-proyecto_item">
            <mat-label>{{textoArea}}</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolAreaProyecto"
            />
        </mat-form-field>

        <mat-form-field  class="form-proyecto_item">
            <mat-label>Tiempo de establecimiento de la plantación (años)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolTiempoEstablecimiento"
            />
        </mat-form-field>

        <div class="form-proyecto_item form-radios">
            <mat-checkbox formControlName="fcontrolEspecificarNumero" (change)="onEspecificarNumeroChange()">
                Especificar número de árboles por hectárea
            </mat-checkbox> 
        </div>

        <mat-form-field class="form-proyecto_item" *ngIf="verSistemasSiembra && !especificarNumeroArboles">
            <mat-label>Sistema de siembra</mat-label>
            <mat-select formControlName="fcontrolSistema" name="nombre" (selectionChange)="filterDistancias()">
              <mat-option *ngFor="let option of listaSistemas" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-proyecto_item" *ngIf="!ocultarDistanciasSiembra && !especificarNumeroArboles" >
            <mat-label>Distancia de siembra</mat-label>
            <mat-select formControlName="fcontrolDistancia" name="nombre">
              <mat-option *ngFor="let option of listaDistancias" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  class="form-proyecto_item" *ngIf="especificarNumeroArboles" >
            <mat-label>Cantidad de árboles por hectárea</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolArbolesHectarea"
                min="0"
            />
        </mat-form-field>

        <mat-radio-group formControlName="fcontrolLineasCercas" *ngIf="tipoSistema == 'cercas' && !especificarNumeroArboles">
            <mat-radio-button class="radio" value="simples" >Líneas simples</mat-radio-button>
            <mat-radio-button class="radio" value="dobles">Líneas dobles</mat-radio-button>
            <mat-radio-button class="radio" value="triples">Líneas triples</mat-radio-button>
        </mat-radio-group>
        
        <mat-form-field  class="form-proyecto_item" *ngIf="verDistanciaAbierta && !especificarNumeroArboles" >
            <mat-label>Distancia de siembra (m)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolDistanciaAbierta"
                min="0"
            />
        </mat-form-field>
        

        <mat-form-field  class="form-proyecto_item">
            <mat-label>Tasa de pérdida estimada de árboles (%)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolTasaPerdida"
                min="0"
                max="10"
            />
        </mat-form-field>

        <mat-form-field  class="form-proyecto_item">
            <mat-label>Tasa de resiembra (%)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolTasaResiembra"
                min="0"
                max="10"
            />
        </mat-form-field>

      <!--   <mat-form-field  class="form-proyecto_item">
            <mat-label>Indique el valor de la UVT</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolUVT"
                min="0"
            />
        </mat-form-field>
 -->
    </form>
</ng-container>
