<ng-container>
  <form [formGroup]="formValues" class="multiple-values">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{label}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field *ngFor="let value of values; let i=index" class="multiple-values__item" appearance="fill"
                      (change)="updateValues">
        <mat-label>{{inputLabel + ' ' + (i + start)}}</mat-label>
        <input
          matInput
          type="{{type}}"
          [formControlName]="'control'+i"
          (change)="updateValues()"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </form>
</ng-container>
