@import "../styles/colors.scss";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-image: url("../assets/WaveLine.svg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100%;
}
