<ng-container>
    <div class="ingresos-container">    
        <form [formGroup] = "fgroupIngresos"  class="ingresos-form">
            <!--Ingreso CIF-->
            <mat-card class="card">
              <div class="form-label">Ingresos CIF</div>
              <div class="ingresos-sub-form">
                  <mat-form-field  class="ingresos-form_item">
                      <mat-label>Indique valor del ingreso CIF por establecimiento (COP/ha)</mat-label>
                      <input 
                          type="number" 
                          matInput 
                          formControlName="fcontrolCifEstablecimiento"             
                      />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF por el mantenimiento del año 2 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifMant2"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF por el mantenimiento del año 3 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifMant3"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF por el mantenimiento del año 4 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifMant4"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF por el mantenimiento del año 5 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifMant5"             
                    />
                  </mat-form-field>                             
              </div>
            </mat-card>
            <!--Ingreso CIF Bosque Natural-->
            <mat-card class="card">
                <div class="form-label">Ingresos CIF para bosque natural</div>
                <div class="ingresos-sub-form">
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF de bosque natural por el mantenimiento del año 2 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifBosque2"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF de bosque natural por el mantenimiento del año 3 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifBosque3"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF de bosque natural por el mantenimiento del año 4 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifBosque4"             
                    />
                  </mat-form-field>
                  <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique valor del ingreso CIF de bosque natural por el mantenimiento del año 5 (COP/ha)</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolCifBosque5"             
                    />
                  </mat-form-field>                             
              </div>
            </mat-card>
            <!--Ingreso Carbono-->
            <div class="button-container" *ngIf="!verFormCarbono">
                <button mat-fab color="primary" aria-label="Agregar Bono Carbono" (click)="onAddCarbono()">
                    <mat-icon>request_quote</mat-icon>
                </button>
                <mat-label class="button-label">Agregar Ingreso Bono Carbono</mat-label>
            </div>
            <div formGroupName="fgroupCarbono" class="ingresos-sub-form" *ngIf="verFormCarbono">
                <mat-form-field  class="ingresos-form_item">
                    <mat-label>Indique el año en que recibirá el bono</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolAnioBono"             
                    />
                </mat-form-field>
                <mat-form-field  class="ingresos-form_item">
                    <mat-label>Valor del bono de carbono</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="fcontrolValorBono"             
                    />
                </mat-form-field>
                <div class="button-group">
                  <div class="button-container">
                      <button mat-fab color="primary" aria-label="Guardar Bono Carbono" (click)="onSaveCarbono()">
                      <mat-icon>add</mat-icon>
                      </button>
                      <mat-label class="button-label">Guardar Bono Carbono</mat-label>
                  </div>
                  <div class="button-container">
                    <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="onCancelarCarbono()">
                    <mat-icon>close</mat-icon>
                    </button>
                    <mat-label class="button-label">Cancelar</mat-label>
                  </div>
              </div>
            </div>

            <!--Tabla Carbono-->
            <table mat-table [dataSource]="dataIngresosCarbono" class="mat-elevation-z8 tabla-ingresos" *ngIf="resumenIngresos.ingresosBonos.length > 0">
    
                <ng-container matColumnDef="descripcion" sticky>
                  <th mat-header-cell *matHeaderCellDef>Año</th>
                  <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                </ng-container>
        
                <ng-container matColumnDef="valor" sticky>
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
    
                <ng-container matColumnDef="accion" >
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element" class="action-link"> 
                    <button mat-mini-fab color="primary" (click) = "onDeleteIngresoCarbono(element)" class="accion-button">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="carbonoDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: carbonoDisplayedColumns;"></tr>
            </table>
            <!--Otros ingresos-->
             <!--Otro ingreso-->
          <div class="button-container" *ngIf="!verFormOtrosIngresos">
            <button mat-fab color="primary" aria-label="Agregar Insumo" (click)="onAddOtroIngreso()">
            <mat-icon>attach_money</mat-icon>
            </button> 
            <mat-label class="button-label">Agregar Otro Ingreso</mat-label>
          </div>
          <div formGroupName="fgroupOtroIngreso" class="ingresos-sub-form" *ngIf="verFormOtrosIngresos">
              <mat-form-field  class="ingresos-form_item">
                  <mat-label>Descripción</mat-label>
                  <input 
                      type="text" 
                      matInput 
                      formControlName="fcontrolDescrOtroIngreso"             
                  />
              </mat-form-field>

              <mat-form-field  class="ingresos-form_item">
                  <mat-label>Año</mat-label>
                  <input 
                      type="number" 
                      matInput 
                      formControlName="fcontrolAnioOtroIngreso"             
                  />
              </mat-form-field>

              <mat-form-field  class="ingresos-form_item">
                  <mat-label>Valor</mat-label>
                  <input 
                      type="number" 
                      matInput 
                      formControlName="fcontroValorOtroIngreso"             
                  />
              </mat-form-field>
              <div class="button-group">
                <div class="button-container">
                    <button mat-fab color="primary" aria-label="Guardar Otro Ingreso" (click)="onSaveOtroIngreso()">
                    <mat-icon>add</mat-icon>
                    </button>
                    <mat-label class="button-label">Guardar Ingreso</mat-label>
                </div>
                <div class="button-container">
                  <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="onCancelarOtroIngreso()">
                  <mat-icon>close</mat-icon>
                  </button>
                  <mat-label class="button-label">Cancelar</mat-label>
                </div>
              </div>
          </div>
          <!--tabla otros costos-->
          <table mat-table [dataSource]="dataOtrosIngresos" class="mat-elevation-z8 tabla-ingresos" *ngIf="resumenIngresos.otrosIngresos.length > 0">

              <ng-container matColumnDef="descripcion" sticky>
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
              </ng-container>
        
              <ng-container matColumnDef="anio" sticky>
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
                </ng-container>

              <ng-container matColumnDef="valor" sticky>
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
              </ng-container>
          
              <ng-container matColumnDef="accion" >
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let element" class="action-link">            
                  <button mat-mini-fab color="primary" (click) = "onDeleteOtroIngreso(element)" class="accion-button">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="otrosIngresosColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: otrosIngresosColumns;"></tr>
          </table>

        </form>
    </div>
</ng-container>
