<app-card-form [title]="'Silvopastoril'">
  <mat-stepper
    labelPosition="bottom"
    [orientation]="(stepperOrientation | async)!"
    (selectionChange) = "selectionChange($event)"
    [linear]="true" 
  >
    <mat-step [stepControl]="frmUbicacion">
      <ng-template matStepLabel>
        <label class="stepper-label">Ubicacion</label>
      </ng-template>
      <app-ubicacion></app-ubicacion>
      <div class="button-container--initial">
        <button class="button-container__button" matStepperNext (click)="guardarUbicacion()">></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmModeloInversion">
      <ng-template matStepLabel>
        <label class="stepper-label">Modelo de Inversion</label>
      </ng-template>
      <app-modelo-inversion></app-modelo-inversion>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="guardarModeloInversion()"><</button>
        <button class="button-container__button" matStepperNext (click)="guardarModeloInversion()">></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmInfoProyecto">
      <ng-template matStepLabel>
        <label class="stepper-label">Generalidades del Proyecto</label>
      </ng-template>
      <app-proyecto></app-proyecto>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="guardarInfoProyecto()"><</button>
        <button class="button-container__button" matStepperNext (click)="guardarInfoProyecto()">></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmEspecies">
      <ng-template matStepLabel>
        <label class="stepper-label">Especies</label>
      </ng-template>
      <app-especie></app-especie>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="guardarEspecies()"><</button>
        <button class="button-container__button" matStepperNext (click)="guardarEspecies()">></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmCostos">
      <ng-template matStepLabel>
        <label class="stepper-label">Costos</label>
      </ng-template>
      <app-costos #costos></app-costos>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="guardarCostos()"><</button>
        <button class="button-container__button" matStepperNext (click)="guardarCostos()" >></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmIngresos">
      <ng-template matStepLabel>
        <label class="stepper-label">Ingresos</label>
      </ng-template>
      <app-ingresos></app-ingresos>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click)="guardarIngresos()"><</button>
        <button class="button-container__button" matStepperNext (click)="guardarIngresos()">></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmResultados">
      <ng-template matStepLabel>
        <label class="stepper-label">Unidad Mínima Rentable</label>
      </ng-template>
      <app-resultados></app-resultados>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious><</button>
        <button class="button-container__button" matStepperNext>></button>
      </div>
    </mat-step>

    <mat-step [stepControl]="frmSensibilidad">
      <ng-template matStepLabel>
        <label class="stepper-label">Sensibilidad</label>
      </ng-template>
      <app-sensibilidad></app-sensibilidad>
      <div class="button-container">
        <button class="button-container__button" matStepperPrevious (click) = "guardarSensibilidad()"><</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-card-form>
