<ng-container>
  <div *ngIf="type === 'operation'" class="button-content">
    <button
      (click)="handleClick()"
      class="button-container main"
      [disabled]="disable"
      [ngClass]="disable ? 'disabled' : ''"
    >
      Guardar
    </button>
    <button (click)="handleCancel()" class="button-container secondary">
      Cancelar
    </button>
  </div>
  <button
    *ngIf="type === 'single'"
    class="button-container main"
    [ngClass]="disable ? 'disabled' : ''"
    (click)="handleClick()"
  >
    {{ title }}
  </button>
</ng-container>
