@import "../../../styles.scss";

.button-container {
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 7px;
  // @media (max-width: 600px) {
  //   font-size: 1.2rem;
  // }

  &.main {
    width: 100px;
    color: $white-100;
    background-color: $blue-300;
  }
  &.secondary {
    width: 100px;
    color: $blue-300;
    margin-left: 10px;
    border: 1px solid $blue-300;
    background-color: $white-100;
    &:hover {
      background-color: $grey-100;
    }
    @media (max-width: 600px) {
      margin-top: 10px;
      margin-left: 0px;
    }
  }
  &.disabled {
    cursor: no-drop;
    background-color: $grey-300;
  }
}
.button-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    justify-content: center;
  }
  justify-content: flex-end;
}
