:host ::ng-deep .mfs-flujo-caja {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
  }

  .resumen {
    margin: 15px 0;

    > div {
      display: flex;

      > div {
        font-size: 1rem;
        margin-right: 15px;
        line-height: 2;
      }
    }
  }

  .tabla-caja {
    margin: 2rem 0;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0, 0, 0, .12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }

    @media (max-width: 960px) {
      th, td {
        display: none;

        &:first-of-type, &:last-of-type {
          display: table-cell;
        }
      }
    }
  }

  .mat-card {
    margin-bottom: 15px;
  }

  .mat-radio-button {
    margin: 10px;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #ccc;
    }
  }

  thead {
    tr {
      background-color: #00963a;
    }
  }
}
