<ng-container>
  <div id="htmlData" class="mfs-flujo-caja">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Resumen flujo de caja</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="tabla-caja" mat-table [dataSource]="dataSourceTable">

          <ng-container matColumnDef="uca">
            <th mat-header-cell *matHeaderCellDef>UCA</th>
            <td mat-cell *matCellDef="let element"> {{element.uca}} </td>
          </ng-container>
          <ng-container matColumnDef="ingresos">
            <th mat-header-cell *matHeaderCellDef>Ingresos Totales</th>
            <td mat-cell *matCellDef="let element"> {{element.ingresos | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="costosSubtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal Costos</th>
            <td mat-cell *matCellDef="let element"> {{element.costosSubtotal | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="administracion">
            <th mat-header-cell *matHeaderCellDef>Administracion</th>
            <td mat-cell *matCellDef="let element"> {{element.administracion | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="impuestoIndustria">
            <th mat-header-cell *matHeaderCellDef>Impuesto de Industria y Comercio</th>
            <td mat-cell *matCellDef="let element"> {{element.impuestoIndustria | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="costos">
            <th mat-header-cell *matHeaderCellDef>Total Costos</th>
            <td mat-cell *matCellDef="let element"> {{element.costos | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="utilidadBruta">
            <th mat-header-cell *matHeaderCellDef>Utilidad Bruta</th>
            <td mat-cell *matCellDef="let element"> {{element.utilidadBruta | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="renta">
            <th mat-header-cell *matHeaderCellDef>Impuesto de Renta</th>
            <td mat-cell *matCellDef="let element"> {{element.renta | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="utilidad">
            <th mat-header-cell *matHeaderCellDef>Utilidad Neta</th>
            <td mat-cell *matCellDef="let element"><strong>{{element.utilidad | currency}}</strong></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTable"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTable;"></tr>
        </table>

        <div class="resumen">
          <div class="tir">
            <div>
              <strong>TIR:</strong>
            </div>
            <div>{{irr | percent:'1.0-2'}}</div>
          </div>
          <div class="ingreso-promedio">
            <div>
              <strong>Ingreso mensual promedio:</strong>
            </div>
            <div>{{ingresoPromedio | currency}}</div>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="openPDF()">Descargar PDF</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
