<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Asistencia Técnica</mat-card-subtitle>
    </mat-card-header>
    <mfs-lista-costos
      [default]="asistencia.CostosPreoperativos.Costos"
      [label]="'Concertación y demás costos preoperativos'"
      (guardarCostos)="actualizarCostosPreoperativos($event)"
    ></mfs-lista-costos>
    <mfs-multiple-values
      [default]="asistencia.PlanManejoForestal"
      (eventoMultipleValues)="actualizarPmf($event)"
      [label]="'Formulación Plan de manejo forestal'"
      [control]="inputType" [size]="ucas" [inputLabel]="'Uca'"></mfs-multiple-values>
    <mfs-multiple-values
      [default]="asistencia.ConstruccionCampamento"
      (eventoMultipleValues)="actualizarCampamento($event)" [label]="'Construcción campamento'"
      [control]="inputType" [size]="ucas" [inputLabel]="'Uca'"></mfs-multiple-values>

    <mfs-lista-costos
      [default]="asistencia.AsistenciaAnual.Costos"
      [label]="'Costos de asistencia anual'"
      (guardarCostos)="actualizarCostos($event)"></mfs-lista-costos>
    <button
      mat-raised-button
      color="primary"
      (click)="guardarAsistencia()"
    >Guardar
    </button>
  </mat-card>
</ng-container>
