<ng-container>

  <div class="especies-plazas-de-venta">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Ciudad principal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            [(ngModel)]="data.plazaPrincipal.ciudad"
            (keyup)="onKey($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <input
            matInput
            [(ngModel)]="data.plazaPrincipal.departamento"
            (keyup)="onKey($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Distancia a plaza de venta (km)</mat-label>
          <input
            matInput
            class="distancia-plaza-de-ventas"
            type="number"
            [(ngModel)]="data.plazaPrincipal.distanciaAPlazaDeVenta"
            (keyup)="onKey($event)"
          />
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Ciudad intermedia</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            [(ngModel)]="data.plazaIntermedia.ciudad"
            (keyup)="onKey($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <input
            matInput
            [(ngModel)]="data.plazaIntermedia.departamento"
            (keyup)="onKey($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Distancia a plaza de venta (km)</mat-label>
          <input
            matInput
            class="distancia-plaza-de-ventas"
            type="number"
            [(ngModel)]="data.plazaIntermedia.distanciaAPlazaDeVenta"
            (keyup)="onKey($event)"
          />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
