<ng-container>
  <div class="producto-dialog">
    <h1 mat-dialog-title>{{ this.data.titulo }}</h1>
    <div mat-dialog-content>
      <form [formGroup]="productoFormGroupFields" class="especie-producto-field">
        <mat-form-field class="especie-form__item" appearance="fill">
          <mat-label>Nombre del producto</mat-label>
          <input type="text"
                 placeholder="Seleccionar"
                 matInput
                 formControlName="nombreProducto"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of productosFiltrados | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="especie-form__item" appearance="fill">
          <mat-label>Factor de transformación</mat-label>
          <input
            matInput
            type="number"
            formControlName="factorTransformacion"
            [readonly]="this.data.isReadOnly"
          />
        </mat-form-field>

        <mat-form-field class="especie-form__item" appearance="fill">
          <mat-label>Sistema de transformación primaria</mat-label>
          <mat-select formControlName="sistemaDeTransformacionPrimaria" name="calidadMadera" [disabled]="this.data.isReadOnly">
            <mat-option *ngFor="let option of this.data.sistemaDeTransformacionPrimaria" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="especie-form__item" appearance="fill">
          <mat-label>Volumen por producto</mat-label>
          <input
            matInput
            type="number"
            formControlName="volumenPorProducto"
            [readonly]="this.data.isReadOnly"
          />
        </mat-form-field>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Precios Ciudad</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Ciudad Principal ({{ data.ciudadPrincipal }})</mat-label>
              <input
                matInput
                type="number"
                formControlName="preciosCiudadPrincipal"
                placeholder="$"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>

            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Ciudad Intermedia ({{ data.ciudadIntermedia }})</mat-label>
              <input
                matInput
                type="number"
                formControlName="preciosCiudadIntermedia"
                placeholder="$"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>

            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Borde carretera</mat-label>
              <input
                matInput
                type="number"
                formControlName="preciosCiudadBordeCarretera"
                placeholder="$"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <br>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Porcentajes de especie/producto a vender por ciudad</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Ciudad Principal ({{ data.ciudadPrincipal }})</mat-label>
              <input
                matInput
                type="number"
                formControlName="porcentajeProductoCiudadPrincipal"
                placeholder="%"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>

            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Ciudad Intermedia ({{ data.ciudadIntermedia }})</mat-label>
              <input
                matInput
                type="number"
                formControlName="porcentajeProductoCiudadIntermedia"
                placeholder="%"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>

            <mat-form-field class="especie--producto-form__item" appearance="fill">
              <mat-label>Borde carretera</mat-label>
              <input
                matInput
                type="number"
                formControlName="porcentajeProductoBordeCarretera"
                placeholder="%"
                [readonly]="this.data.isReadOnly"
              />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <br>
      </form>
    </div>

    <div mat-dialog-actions>
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        [mat-dialog-close]="this.productoFormGroupFields.value"
        *ngIf="!this.data.isReadOnly"
      >Guardar</button>
      <button
        mat-button
        mat-dialog-close
        [mat-dialog-close]="null"
      >Cerrar</button>
    </div>

  </div>
</ng-container>
