<ng-container>
  <div class="costos-tierra">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <mat-form-field class="tierra-form__item" appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo" name="tipo">
          <mat-option [value]="'terreno'">
            Costo de terreno COP$/ha <strong>(Valor total anual)</strong>
          </mat-option>
          <mat-option [value]="'derecho'">
            Derecho de uso <strong>(Valor total anual)</strong>
          </mat-option>
          <mat-option [value]="'oportunidad'">
            Costo de oportunidad por hectárea <strong>(Valor total anual)</strong>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="tierra-form__item" appearance="fill">
        <mat-label>Valor</mat-label>
        <input
          matInput
          type="number"
          formControlName="costo"
          placeholder="$"
        />
      </mat-form-field>

      <br>

      <button
        mat-raised-button
        color="primary"
      >Guardar</button>
    </form>
  </div>
</ng-container>
