<app-card-form [title]="'Bosque Natural'">
    <mat-stepper
      class="example-stepper"
      labelPosition="bottom"
      [orientation]="(stepperOrientation | async)!"
    >
      <mat-step>
        <ng-template matStepLabel>
          <label class="stepper-label">Step 1</label> </ng-template
        >STEP 1
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <label class="stepper-label">Step 2</label> </ng-template
        >STEP 2
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>
          <label class="stepper-label">Step 3</label> </ng-template
        >STEP 3
      </mat-step>
    </mat-stepper>
  </app-card-form>
  