<ng-container>
    <div class="sensibilidad-container"> 
        <form [formGroup] = "fgroupSensibilidad"  class="sensibilidad-form">
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Rendimiento de la plantación</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolRendimiento"
                    value="1"             
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Asistencia técnica</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolAsistencia"             
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Administración</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolAdmin"             
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Ingresos</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolIngresos"             
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Costos</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolCostos"             
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>CIF</mat-label>
                <input 
                    type="text" 
                    matInput 
                    formControlName="fcontrolCif"
                    pattern="[0-1]"            
                />
            </mat-form-field>
            <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Bonos de carbono</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolCarbono"             
                />
            </mat-form-field>
         <!--    <mat-form-field  class="sensibilidad-form_item">
                <mat-label>Tasa de interés</mat-label>
                <input 
                    type="number" 
                    matInput 
                    formControlName="fcontrolTasa"             
                />
            </mat-form-field> -->
         
        </form>
    </div>
</ng-container>
