.sensibilidad-container{
    margin: 30px;
}
.sensibilidad-form{
    margin: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
    &_item {
      width: 50%;
      margin:10px;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
}

.button-container{
margin: 30px;
display: grid;
justify-content: center;
justify-items: center;
}

.button-label{
margin-top: 10px;
}

.form-poda-item{
  width: 100%;
}

.sensibilidad-sub-form{
  width: 100%;
  border: solid 1px lightgrey;
}

.form-label{
  width: 100%;
  justify-items: left;
  display: flex;
  margin: 10px;
}
