<ng-container >    
    <div class="resultados-container" [formGroup]="fgroupResultados">
        <h3>Unidad Mínima Rentable</h3>
        <div class="resultados-form">      
        <mat-form-field  class="resultados-form_item"  *ngIf="!aplicaTir"  >
        <mat-label>Indique el ingreso esperado promedio mensual</mat-label>
        <input 
            type="number" 
            matInput 
            formControlName="fcontrolIngresoEsperado"
            (change) = "onIngresoChanged()"                         
        />
        </mat-form-field>
        <mat-form-field  class="resultados-form_item"  *ngIf="aplicaTir" >
            <mat-label>Indique la tasa interna de retorno</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolTir"
                (change) = "onTirChanged()"
                            
            />
        </mat-form-field>
    </div>
        <div class="resultados-form">
            <div  class="resultados-form_item titulo-resultado">TIR</div>
            <div class="resultados-form_item">{{tirPintar}}</div>
            <div class="resultados-form_item titulo-resultado">VPN</div>
            <div class="resultados-form_item">{{vpnPintar}}</div>
            <div class="resultados-form_item titulo-resultado">Ingreso mensual promedio recibido</div>
            <div class="resultados-form_item">{{ingresoMensualPromedioPintar}}</div>
            <div class="resultados-form_item titulo-resultado" *ngIf="aplicaTir">Area mínima según TIR</div>
            <div class="resultados-form_item" *ngIf="aplicaTir">{{areaMinimaTirPintar}}</div>
            <div class="resultados-form_item titulo-resultado" *ngIf="!aplicaTir">Area mínima según ingreso mínimo esperado</div>
            <div class="resultados-form_item" *ngIf="!aplicaTir">{{areaMinimaIngresoPintar}}</div> 
            <div class="resultados-form_item titulo-resultado">Inversion mínima requerida</div>
            <div class="resultados-form_item">{{inversionMinimaPintar}}</div>
        </div>
        <div class="button-container">
            <button mat-fab color="primary" aria-label="Agregar Cif" (click)="onGenerarPdf()">
                <mat-icon>request_quote</mat-icon>
            </button>
            <mat-label class="button-label">Generar detalle PDF</mat-label>
        </div>
    </div>
</ng-container>
