.especies-container{
  margin: 30px;
}

.especie-form {
  margin: 30px 30px 0px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
  }
  &__item {
    width: 50%;
    margin:10px;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.producto-form {
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px lightgray;
  &_item {
    width: 50%;
    margin: 10px;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.buttons-group{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.button-container{
  margin: 30px;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.button-label{
  margin-top: 10px;
}

.tabla-especies{
  width: 100%;
  margin: 20px;
}

.tabla-productos{
  width: 100%;
  margin: 20px;
}

.accion-button {
  margin: 10px;
}

.form-label{
  width: 100%;
  justify-items: left;
  display: flex;
  margin: 10px;
}

.aviso-informativo{
  margin: 10px;
  font-style: italic;
  color: rgb(0, 138, 0);
}

.titulo-seccion{
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.form-radios{
  display: flex;
  flex-direction:column;
}

.radio{
  margin: 10px;
}