<ng-container>
  <div class="especies-container">    
    
    <div class="button-container" *ngIf="!verFormEspecie">
      <button mat-fab color="primary" aria-label="Agregar Especie" (click)="onAddEspecie()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-label class="button-label">Agregar especie</mat-label>
    </div>
    
    <!--Form Especie-->
    <form [formGroup]="fgroupEspecie" *ngIf="verFormEspecie" class="especie-form">    
      
      <mat-form-field class="especie-form__item">
        <mat-label>Nombre</mat-label>
        <mat-select formControlName="fcontrolNombre" name="nombre" (selectionChange)="onSelectEspecie()">
          <mat-option *ngFor="let option of listaEspeciesFiltrada" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  class="especie-form__item" *ngIf="esOtraEspecie">
        <mat-label>Indique el nombre de la especie</mat-label>
        <input 
            type="text" 
            matInput 
            formControlName="fcontrolNombreOtra"
        />
      </mat-form-field>

      <mat-form-field  class="especie-form__item">
        <mat-label>Turno (años)</mat-label>
        <input 
            type="number" 
            matInput 
            formControlName="fcontrolTurno"
            (change) = "turnoChanged()"
        />
        <mat-hint>Turno sugerido: {{turnoSugerido}}</mat-hint>
      </mat-form-field>

      <!--Conoce Rendimiento-->
      <label class="especie-form__item" *ngIf="flujoActual != 'pfc'">¿Conoce usted el rendimiento de su sistema en en m³/ha/año?</label>
      <div class="especie-form__item" *ngIf="flujoActual != 'pfc'">
        <mat-radio-group formControlName="fcontrolConoceRendimiento"   (change) = "onCambioConoceRendimiento()" class="form-radios">
              <mat-radio-button class="radio" value="true" [checked]="conoceRendimiento">Si</mat-radio-button>
              <mat-radio-button class="radio" value="false" [checked]="!conoceRendimiento">No</mat-radio-button>            
        </mat-radio-group>      
      </div>

      <mat-label *ngIf="!conoceRendimiento && flujoActual != 'pfc'" class="especie-form__item">Se calculará el rendimiento proporcionalmente al de una plantación compacta</mat-label>
      <mat-form-field  class="especie-form__item">
        <mat-label *ngIf="conoceRendimiento">Indique el rendimiento de su sistema en m³/ha/año</mat-label>
        <mat-label *ngIf="!conoceRendimiento">Indique el rendimiento correspondiente a plantación compacta en m³/ha/año</mat-label>
        <input 
            type="number" 
            matInput 
            formControlName="fcontrolRendimiento"
        />
        <mat-hint *ngIf="!conoceRendimiento">Rendimiento sugerido: {{rendimientoSugerido}}</mat-hint>
      </mat-form-field>
      
      <!--Establecimientos-->
      <div class="button-container" *ngIf="!verFormEstablecimientos">        
        <button mat-fab color="primary" aria-label="Agregar Establecimiento" (click)="onAddEstablecimiento()">
          +
          <mat-icon>spa</mat-icon>
        </button>
        <mat-label class="button-label">Agregar Establecimiento</mat-label>
      </div>
      <div class="producto-form" formGroupName="fgroupEstablecimiento" *ngIf="verFormEstablecimientos">
        <div class="form-label">
          Nuevo Establecimiento
        </div>
          <mat-form-field class="producto-form_item">
            <mat-label>Año</mat-label>
            <mat-select formControlName="fcontrolAnioEstablecimiento" name="anioEstablecimiento" >
              <mat-option *ngFor="let option of listaAniosEstablecimiento" [value]="option" >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field  class="producto-form_item" >
            <mat-label>Especifique el área a establecer (ha)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolAreaEstablecer"
            />
          </mat-form-field>

          <mat-form-field  class="producto-form_item" >
            <mat-label>Especifique el área de bosque natural (ha)</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolAreaBosque"
            />
          </mat-form-field>

          <mat-form-field  class="producto-form_item" *ngIf="flujoActual == 'restauracion'">
            <mat-label>Si lo tiene, indique el costo del seguro de la plantación</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolSeguro"
            />
          </mat-form-field>

          <mat-form-field  class="producto-form_item" *ngIf="flujoActual == 'restauracion'">
            <mat-label>Si lo tiene, indique el costo de cercamiento</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolCercamiento"
            />
          </mat-form-field>

          <div class="buttons-group">
            <div class="button-container producto-form_item">
              <button mat-fab color="primary" aria-label="Agregar Producto" (click)="onGuardarEstablecimiento()" [disabled] = "fgroupEspecie.controls.fgroupEstablecimiento.invalid">
                <mat-icon>add</mat-icon>
              </button>
              <mat-label class="button-label">Agregar Establecimiento</mat-label>
            </div>   
            <div class="button-container producto-form_item">
              <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="cerrarFormEstablecimiento()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-label class="button-label">Cancelar</mat-label>
            </div>
          </div>     
        </div>

      <!--Tabla Establecimientos-->
      <div class="producto-form" *ngIf="establecimientos.length > 0">
        <div class="form-label">Establecimientos</div>
        <table mat-table [dataSource]="dataEstablecimientos" class="tabla-productos mat-elevation-z8">
      
        <ng-container matColumnDef="anio" sticky>
          <th mat-header-cell *matHeaderCellDef> Año </th>
          <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
        </ng-container>

        <ng-container matColumnDef="area" sticky>
          <th mat-header-cell *matHeaderCellDef> Area </th>
          <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
        </ng-container>

        <ng-container matColumnDef="accion" >
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <button mat-mini-fab color="primary" (click) = "onDeleteEstablecimiento(element)" class="accion-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="establecimientosColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: establecimientosColumns;"></tr>
        </table>
    </div>

      <!--Producto-->
      <div class="button-container" *ngIf="!verFormProducto">        
        <button mat-fab color="primary" aria-label="Agregar Producto" (click)="onAddProducto()">
          +
          <mat-icon>spa</mat-icon>
        </button>
        <mat-label class="button-label">Agregar producto</mat-label>
      </div>

      <div formGroupName="fgroupProducto" *ngIf="verFormProducto" class="producto-form">
        <div class="form-label">Nuevo Producto</div>
        <mat-form-field class="producto-form_item">
          <mat-label>Nombre</mat-label>
          <mat-select formControlName="fcontrolNombreProducto" name="nombreProducto" (selectionChange) = "onSelectProducto()">
            <mat-option *ngFor="let option of listaProductos" [value]="option" >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="producto-form_item" *ngIf="esOtroProducto">
          <mat-label>Especifique el nombre del producto</mat-label>
          <input 
              type="text" 
              matInput 
              formControlName="fcontrolNombreOtro"
          />
        </mat-form-field>

        <mat-form-field  class="producto-form_item">
          <mat-label>Factor de aprovechamiento efectivo (%)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolAprovechamiento"
              max="100"
          />
        </mat-form-field>

        <mat-form-field class="producto-form_item">
          <mat-label>Sistema de transformacion primaria</mat-label>
          <mat-select formControlName="fcontrolSistemaTransformacion" name="nombre" (selectionChange) = "onSelectSistema()">
            <mat-option *ngFor="let option of listaSistemas" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="producto-form_item" >
          <mat-label>Costo de transformación primaria (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolCostoTransPrimaria"
          />                     
        </mat-form-field>
        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
          aria-label="Agregar Producto" (click)="onEspecificarTransPrimaria()">
            <span class="mat-button-wrapper">Especificar costo</span>
        </button>

        <mat-form-field  class="producto-form_item">
          <mat-label>Precio ciudad principal (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPrecioPrincipal"
          />
        </mat-form-field>

        <mat-form-field  class="producto-form_item">
          <mat-label>Precio ciudad intermedia (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPrecioIntermedia"
          />
        </mat-form-field>
        <mat-form-field  class="producto-form_item">
          <mat-label>Precio borde carretera (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPrecioCarretera"
          />
        </mat-form-field>

        <mat-form-field  class="producto-form_item">
          <mat-label>Porcentaje de ventas ciudad principal (%)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPorcentajePrincipal"
              max="100"
          />
        </mat-form-field>
  
        <mat-form-field  class="producto-form_item">
          <mat-label>Porcentaje de ventas ciudad intermedia (%)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPorcentajeIntermedia"
              max="100"
          />
        </mat-form-field>
        <mat-form-field  class="producto-form_item">
          <mat-label>Porcentaje de ventas borde carretera (%)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPorcentajeCarretera"
              max="100"
          />
        </mat-form-field>
        <div class="buttons-group producto-form_item">
          <div class="button-container producto-form_item">
            <button mat-fab color="primary" aria-label="Agregar Producto" (click)="onGuardarProducto()" [disabled] = "fgroupEspecie.get('fgroupProducto')?.invalid">
              <mat-icon>add</mat-icon>
            </button>
            <mat-label class="button-label">Agregar Producto</mat-label>
          </div> 
          <div class="button-container producto-form_item">
            <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="cerrarFormProducto()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-label class="button-label">Cancelar</mat-label>
          </div>
        </div>      
      </div>

      <table mat-table [dataSource]="dataProductosUsuario" class="mat-elevation-z8 tabla-productos" *ngIf="productosUsuario.length > 0">
    
        <ng-container matColumnDef="nombre" sticky>
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>
    
        <ng-container matColumnDef="factor">
          <th mat-header-cell *matHeaderCellDef> Factor de aprovechamiento efectivo (%)</th>
          <td mat-cell *matCellDef="let element"> {{element.FactorAprovechamientoEfectivo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="precioPrincipal">
          <th mat-header-cell *matHeaderCellDef> Precio Ciudad Principal (COP/m3)</th>
          <td mat-cell *matCellDef="let element"> {{element.PrecioCiudadPrincipal}} </td>
        </ng-container>

        <ng-container matColumnDef="precioIntermedia">
          <th mat-header-cell *matHeaderCellDef> Precio Ciudad Intermedia (COP/m3)</th>
          <td mat-cell *matCellDef="let element"> {{element.PrecioCiudadIntermedia}} </td>
        </ng-container>

        <ng-container matColumnDef="precioCarretera">
          <th mat-header-cell *matHeaderCellDef> Precio Borde Carretera (COP/m3)</th>
          <td mat-cell *matCellDef="let element"> {{element.PrecioBordeCarretera}} </td>
        </ng-container>
    
        <ng-container matColumnDef="accion" >
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <button mat-mini-fab color="primary" (click) = "updateProducto(element)" class="accion-button">
              <mat-icon>edit</mat-icon>
            </button> 
            <button mat-mini-fab color="primary" (click) = "deleteProducto(element)" class="accion-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="productoColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: productoColumns;"></tr>
      </table>

      <!--Entresaca-->
      <div class="button-container" *ngIf="!verFormEntresaca">
        <button mat-fab color="primary" aria-label="Agregar Entresaca" (click)="onAddEntresaca()">
          +
          <mat-icon>park</mat-icon>
        </button>
        <mat-label class="button-label">Agregar entresaca</mat-label>
      </div>
     
      <div formGroupName="fgroupEntresaca" *ngIf="verFormEntresaca" class="producto-form">
        <div class="titulo-seccion"><h4>Nueva Entresaca</h4></div>
        <div class="aviso-informativo" *ngIf="flujoActual=='restauracion'">
          <h5>
            Recuerde consultar el límite de aprovechamiento por entresaca dado por la autoridad ambiental de su jurisdicción.
          </h5>
        </div>
        <mat-checkbox formControlName="fcontrolCortaFinal"  class="producto-form_item" (change)="cambioCheckCortaFinal()">
          Es corta final
        </mat-checkbox>
        <mat-checkbox formControlName="fcontrolNoComercial"  class="producto-form_item" (change)="cambioCheckNoComercial()">
          Entresaca no comercial
        </mat-checkbox>
        <mat-form-field class="producto-form_item">
          <mat-label>Año</mat-label>
          <mat-select formControlName="fcontrolAnioEntresaca" name="nombreProducto" (selectionChange) = "onSelectProducto()">
            <mat-option *ngFor="let option of aniosTurno" [value]="option" >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  class="producto-form_item">
          <mat-label>Porcentaje de la entresaca (%)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolPorcentajeEntresaca"
              max="100"
          />
        </mat-form-field>

        <mat-form-field  class="producto-form_item">
          <mat-label>Costo de aprovechamiento (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolCostoAprovEntresaca"
          />
        </mat-form-field>
        
        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" color="primary" 
        aria-label="Especificar Costo" (click)="onEspecificarCostoAprovechamiento()">
            <span class="mat-button-wrapper">Especificar costo</span>
        </button>
       
        <!--Tabla productos entresaca-->
        <table mat-table [dataSource]="dataProductosEntresaca" class="mat-elevation-z8 tabla-productos" *ngIf="productosUsuario.length > 0 && !esNoComercial">
    
          <ng-container matColumnDef="producto" sticky>
            <th mat-header-cell *matHeaderCellDef> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
          </ng-container>
      
          <ng-container matColumnDef="volumen">
            <th mat-header-cell *matHeaderCellDef> Porcentaje del Volumen (%)</th>
            <td mat-cell *matCellDef="let element"> 
              <input type="text"  (change) = "onChangeVolumen(element, $event)"/>           
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="volProductoColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: volProductoColumns;"></tr>
        </table>

        <mat-form-field  class="producto-form_item" *ngIf="esNoComercial">
          <mat-label>Costo de transporte menor para la entresaca (COP/m3)</mat-label>
          <input 
              type="number" 
              matInput 
              formControlName="fcontrolTransMenorEntresaca"
          />
        </mat-form-field>


        <div class="buttons-group">
          <div class="button-container producto-form_item"  *ngIf="verFormEspecie">
            <button mat-fab color="primary" aria-label="Agregar Entresaca" (click)="onGuardarEntresaca()" [disabled] = "fgroupEspecie.controls.fgroupEntresaca.invalid">
              <mat-icon>add</mat-icon>
            </button>
            <mat-label class="button-label">Agregar Entresaca</mat-label>
          </div>
          <div class="button-container producto-form_item">
            <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="cerrarFormEntresaca()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-label class="button-label">Cancelar</mat-label>
          </div>
        </div>       
      </div>
      <!--Tabla entresacas-->
      <table mat-table [dataSource]="dataEntresacas" class="mat-elevation-z8 tabla-productos" *ngIf="entresacasUsuario.length > 0">
  
      <ng-container matColumnDef="anio" sticky>
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let element"> {{element.Anio}} </td>
      </ng-container>

      <ng-container matColumnDef="porcentaje" sticky>
        <th mat-header-cell *matHeaderCellDef> Porcentaje Entresaca (%)</th>
        <td mat-cell *matCellDef="let element"> {{element.PorcentajeAprovechamiento}} </td>
      </ng-container>

      <ng-container matColumnDef="costoApro" sticky>
        <th mat-header-cell *matHeaderCellDef> Costo Aprovechamiento (COP/m3)</th>
        <td mat-cell *matCellDef="let element"> {{element.CostoAprovechamiento}} </td>
      </ng-container>

      <ng-container matColumnDef="accion" >
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element" class="action-link">            
          <button mat-mini-fab color="primary" (click) = "onDeleteEntresaca(element)" class="accion-button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="entresacasColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: entresacasColumns;"></tr>
      </table>
    </form>
    <div class="buttons-group">
      <div class="button-container"  *ngIf="verFormEspecie">
        <button mat-fab color="primary" aria-label="Agregar Entresaca" (click)="onGuardarEspecie()" [disabled] = "fgroupEspecie.invalid">
          <mat-icon>add</mat-icon>
        </button>
        <mat-label class="button-label">Guardar Especie</mat-label>
      </div>
      <div class="button-container"  *ngIf="verFormEspecie">
        <button mat-mini-fab color="warn" aria-label="Agregar Producto" (click)="cerrarFormEspecie()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-label class="button-label">Cancelar</mat-label>
      </div>
    </div>
  </div>

  <div class="lista-especies" *ngIf="especiesUsuario.length > 0">
    
    <table mat-table [dataSource]="dataEspeciesUsuario" class="mat-elevation-z8 tabla-especies">
    
    <ng-container matColumnDef="nombre" sticky>
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="turno">
      <th mat-header-cell *matHeaderCellDef> Turno </th>
      <td mat-cell *matCellDef="let element"> {{element.Turno}} </td>
    </ng-container>

    <ng-container matColumnDef="rendimiento">
      <th mat-header-cell *matHeaderCellDef> Rendimiento (%)</th>
      <td mat-cell *matCellDef="let element"> {{element.RendimientoAnualPromedio}} </td>
    </ng-container>

    <ng-container matColumnDef="accion" >
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <button mat-mini-fab color="primary" (click) = "updateEspecie(element)" class="accion-button">
          <mat-icon>edit</mat-icon>
        </button> 
        <button mat-mini-fab color="primary" (click) = "deleteEspecie(element)" class="accion-button">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-container>
