<ng-container>
  <div class="mfs-import">
    <div class="importar-mfs">
      <label for="importarMfs" class="mat-raised-button mat-primary">Importar modelo existente</label>
      <input class="hidden" type='file' id="importarMfs" (change)="subirMfsJson($event)">
    </div>
  </div>
</ng-container>
