<ng-container>
  <div class="navbar-container">
    <img
      class="navbar-container__burguer"
      alt="Burguer"
      src="../../../assets/menu.svg"
      [ngClass]="openNavBar ? 'open' : 'close'"
      (click)="openNavbar()"
    />
  </div>

  <div class="navbar-content">
    <div class="navbar-content__menu" [ngClass]="openNavBar ? 'show' : 'hide'">
      <div *ngIf="openNavBar" class="fade-in-text">
        <div class="navbar-content__menu__items">
          <label class="navbar-content__menu__items__title">Menú</label>
          <div class="navbar-content__menu__items__body">
            <label
              class="navbar-content__menu__items__body__item"
              [ngClass]="getSelectedItem('/pfc') ? 'selected' : ''"
              (click)="navigateTo('/pfc')"
            >
              Plantaciones Forestales Comerciales
            </label>
            <label
              class="navbar-content__menu__items__body__item"
              [ngClass]="getSelectedItem('/restauracion') ? 'selected' : ''"
              (click)="navigateTo('/restauracion')"
            >
              Restauración
            </label>
            <label
              class="navbar-content__menu__items__body__item"
              [ngClass]="getSelectedItem('/silvopastoril') ? 'selected' : ''"
              (click)="navigateTo('/silvopastoril')"
            >
              Silvopastoril
            </label>
            <label
              class="navbar-content__menu__items__body__item"
              [ngClass]="getSelectedItem('/mfs') ? 'selected' : ''"
              (click)="navigateTo('/mfs')"
            >
              Manejo Forestal Sostenible
            </label>
            <label
              class="navbar-content__menu__items__body__item"
              [ngClass]="getSelectedItem('/agroforestal') ? 'selected' : ''"
              (click)="navigateTo('/agroforestal')"
            >
              Agroforestal
            </label>
          </div>
        </div>
        <div class="navbar-content__menu__img">
          <a
            href="https://onfandina.com/"
          >
            <img
              class="navbar-container__img"
              src="../../../assets/onfa-logo.png"
              alt="Onf Andina"
            />
          </a>
          <a href="https://gggi.org/">
            <img
              class="navbar-container__img"
              src="../../../assets/gggi-logo-white.svg"
              alt="gggi"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
