@import "../../../styles.scss";

.navbar-container {
  display: flex;
  padding: 10px;
  background-color: $green-300;
  justify-content: space-between;
  &__img {
    width: 95px;
    @media (max-width: 600px) {
      width: 70px;
    }
    &:hover{
      margin-bottom: 2px;
    }
  }
  &__burguer {
    width: 80px;
    filter: invert(100%);
    cursor: pointer;
  }
  .close {
    transform: rotate(0deg);
    transition: transform 200ms linear;
  }

  .open {
    transform: rotate(180deg);
    transition: transform 200ms linear;
  }
}

.navbar-content {
  top: 0;
  bottom: 0;
  z-index: 2;
  display: grid;
  position: fixed;
  &__menu {
    z-index: 1;
    height: 100vh;
    width: 270px;
    color: $white-100;
    background-color: $green-400;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 4px 1px 9px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 4px 1px 9px 0px rgba(0, 0, 0, 0.66);
    &__items {
      padding: 20px;
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 40px;
      }
      &__body {
        display: flex;
        flex-direction: column;
        &__item {
          cursor: pointer;
          padding: 15px 0px;
          margin-left: 0px;
          transition: margin-left 200ms;
          
          &:hover {
            width: 80%;
            color: $green-100;
            margin-left: 15px;
            transition: margin-left 200ms;
          }
        }
      }
    }
    &__img {
      display: flex;
      padding: 40px 20px;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 600px) {
        padding: 20px;
      }
    }
  }
  .show {
    transition: width 200ms;
  }
  .hide {
    width: 0px;
    transition: width 200ms;
  }
}

.fade-in-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn linear 500ms;
  -webkit-animation: fadeIn linear 500ms;
  -moz-animation: fadeIn linear 500ms;
  -o-animation: fadeIn linear 500ms;
  -ms-animation: fadeIn linear 500ms;
}

.selected{
  color: $green-100;
  font-size: 1rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
