<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Modelo Financiero</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formModuloFinanciero" class="modulo-financiero">

      <mat-form-field class="modulo-financiero__item" appearance="fill">
        <mat-label>Tasa de interés</mat-label>
        <input
          matInput
          type="number"
          formControlName="fcontrolTasaInteres"
          placeholder="%"
        />
      </mat-form-field>
      <mat-form-field class="modulo-financiero__item" appearance="fill">
        <mat-label>Periodo de los intereses</mat-label>
        <mat-select formControlName="fcontrolPeriodo" name="fcontrolAutoridad" (selectionChange)="cambioPeriodo()">
          <mat-option *ngFor="let option of periodosIntereses" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="modulo-financiero__item" appearance="fill">
        <mat-label>Tasa de interés anual</mat-label>
        <input
          matInput
          type="number"
          formControlName="fcontrolTasaInteresAnual"
          placeholder="%"
        />
      </mat-form-field>
      <mat-form-field class="modulo-financiero__item" appearance="fill">
        <mat-label>Capital</mat-label>
        <input
          matInput
          type="number"
          formControlName="fcontrolCapital"
          placeholder="$"
        />
      </mat-form-field>
      <mat-form-field class="modulo-financiero__item" appearance="fill">
        <mat-label>Plazo (meses)</mat-label>
        <input
          matInput
          type="number"
          formControlName="fcontrolPlazo"
        />
      </mat-form-field>
    </form>
  </mat-card>
</ng-container>
