.modulo-financiero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
  }
  &__item {
    width: 45%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.mat-radio-button{
  margin: 10px;
}
