<ng-container>
  <div class="mfs-sensibilidad">
    <form [formGroup]="formulario" class="formulario">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Sensibilidad</mat-card-subtitle>
        </mat-card-header>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Rendimiento del aprovechamiento (hectárea)</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolRendimientoAprovechamiento"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill" (change)="actualizarSensibilidad()">
          <mat-label>Área (proyecto)</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolArea"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Asistencia técnica</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolAsistenciaTecnica"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Administración</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolAdministracion"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Ingresos</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolIngresos"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Costos</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolCostos"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Tasa de interés</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolTasaInteres"
            (change)="actualizarTabla()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Ingreso esperado promedio mensual por familia</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolIngresoPromedio"
            (change)="cambiarIngresoPromedio()"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Ingreso esperado promedio mensual</mat-label>
          <input
            matInput
            type="text"
            formControlName="fcontrolIngresoPromedioTotal"
          />
        </mat-form-field>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Ingreso total esperado</mat-label>
          <input
            matInput
            type="text"
            formControlName="fcontrolIngresoTotal"
          />
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="tabla">

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Concepto</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor</th>
            <td mat-cell *matCellDef="let element"> {{(element.nombre === 'DTF' || element.nombre === 'TIR')
              ? (element.valor | percent:'1.0-2') : (element.valor | currency) }} </td>
          </ng-container>

          <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef> Observaciones</th>
            <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Sensibilidad basada en la TIR</mat-card-subtitle>
        </mat-card-header>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Indique valor de la TIR esperada</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolTirEsperada"
            (change)="estimarSensibilidadTIR()"
          />
        </mat-form-field>
        <div class="mfs-sensibilidad__estimado">
          <div>
            <span class="label"><strong>Sensibilidad (area):</strong></span>
            <span>{{sensibilidadTIR.sensibilidadArea| number:'1.0-4'}}</span>
          </div>
          <div>
            <span class="label"><strong>Area Estimada:</strong></span> <span>{{sensibilidadTIR.area| number:'1.0-2'}}</span>
          </div>
          <div>
            <span class="label"><strong>TIR Calculada:</strong></span>
            <span>{{sensibilidadTIR.tirEstimada | percent:'1.0-2'}}</span>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Sensibilidad basada en el ingreso mínimo</mat-card-subtitle>
        </mat-card-header>
        <mat-form-field class="mfs-sensibilidad__item" appearance="fill">
          <mat-label>Indique valor mínimo esperado mensual{{mfs.InformacionGeneral.Familias > 0 ? ' por familia': ''}}</mat-label>
          <input
            matInput
            type="number"
            formControlName="fcontrolIngresoEsperado"
            (change)="estimarSensibilidadIngresoPromedio()"
          />
        </mat-form-field>
        <div class="mfs-sensibilidad__estimado">
          <div>
            <span class="label"><strong>Sensibilidad (area):</strong></span>
            <span>{{sensibilidadIngresoPromedio.sensibilidadArea| number:'1.0-4'}}</span>
          </div>
          <div>
            <span class="label"><strong>Area Estimada:</strong></span> <span>{{sensibilidadIngresoPromedio.area| number:'1.0-2'}}</span>
          </div>
          <div>
            <span class="label"><strong>Ingreso Calculado:</strong></span>
            <span>{{sensibilidadIngresoPromedio.ingresoEstimado|currency}}</span>
          </div>
          <div *ngIf="mfs.InformacionGeneral.Familias > 0">
            <span class="label"><strong>Número de Familias:</strong></span>
            <span>{{mfs.InformacionGeneral.Familias}}</span>
          </div>
          <div *ngIf="mfs.InformacionGeneral.Familias > 0">
            <span class="label"><strong>Ingreso Calculado por Familia:</strong></span>
            <span>{{sensibilidadIngresoPromedio.ingresoEstimado / mfs.InformacionGeneral.Familias|currency}}</span>
          </div>
        </div>
      </mat-card>

    </form>
  </div>
</ng-container>
