.mfs-sensibilidad {
  .formulario {
    display: block;
    justify-content: space-between;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
  }

  &__item {
    width: 45%;
    margin: 10px;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__estimado {
    font-size: 1rem;

    > div {
      margin: 10px;

      .label {
        padding-right: 10px;
      }
    }
  }

  .mat-card {
    margin-bottom: 20px;
  }

  .tabla {
    margin: 1rem 0;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0, 0, 0, .12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }

    @media (max-width: 960px) {
      th, td {
        &:last-of-type {
          display: none;
        }
      }
    }
  }

}
