<ng-container>
  <h1>Transporte Mayor</h1>

  <div class="costos-transporte-mayor">
    <form [formGroup]="formularioTransporteMayor" (ngSubmit)="onSubmit()">
      <mat-form-field class="transporte-mayor-form__item" appearance="fill">
        <mat-label>Costo Salvoconducto/Viaje</mat-label>
        <input
          matInput
          type="number"
          formControlName="costoSalvoconducto"
          placeholder="$"
        />
      </mat-form-field>

      <fieldset formGroupName="formularioCiudadPrincipal">
        <legend>
          Ciudad Principal <strong *ngIf="ciudades.principal.length > 0"> - {{ ciudades.principal }}</strong>
        </legend>

        <fieldset formGroupName="camionSencillo">
          <legend>
            Camion sencillo
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="dobleTroque">
          <legend>
            Doble troque
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="tractoMula">
          <legend>
            Tracto mula
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

      </fieldset>

      <fieldset formGroupName="formularioCiudadIntermedia">
        <legend>
          Ciudad Intermedia  <strong *ngIf="ciudades.intermedia.length > 0"> - {{ ciudades.intermedia }}</strong>
        </legend>

        <fieldset formGroupName="camionSencillo">
          <legend>
            Camion sencillo
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="dobleTroque">
          <legend>
            Doble troque
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="tractoMula">
          <legend>
            Tracto mula
          </legend>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Porcentaje del total destinado a la ciudad por tipo de vehículo</mat-label>
            <input
              matInput
              type="number"
              formControlName="porcentajeDestino"
              placeholder="%"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo total del viaje</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoDelViaje"
              placeholder="$"
            />
          </mat-form-field>

          <mat-form-field class="transporte-mayor__transporte-form__item" appearance="fill">
            <mat-label>Costo de Cargue y descargue (viaje)</mat-label>
            <input
              matInput
              type="number"
              formControlName="costoCargueDescargue"
              placeholder="$"
            />
          </mat-form-field>
        </fieldset>

      </fieldset>

      <button
        mat-raised-button
        color="primary"
      >Guardar</button>
    </form>
  </div>
</ng-container>
