:host ::ng-deep .costos-transporte-mayor {
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-button-base.mat-primary {
    background-color: #00963a;
  }

  fieldset {
    background-color: #FCFCFC;
    border-radius: 8px;
    margin: 16px 0;

    fieldset {
      background-color: #fff;
      margin: 8px 0;
    }
  }
  .transporte-mayor__transporte-form__item {
    width: 32%;
  }


}
