<h1>Costos Aprovechamiento</h1>
<div [formGroup]="costoAprovechamientoForm">
    <table>
        <tr>
            <th>Concepto</th>
            <th>Unidades</th>
            <th>Cantidad</th>
            <th>Costo por m3</th>
        </tr>
        
        <ng-container formArrayName="costos" *ngFor="let costo of costos.controls; let index = index;">     
            <tr [formGroupName]="index">
                
                <td class="concepto">
                    <input type="text" formControlName='concepto' id="{{'concepto'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="unidades">
                    <input type="text" formControlName='unidades' id="{{'valorUnitario'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="cantidad">
                    <input type="number" formControlName='cantidad' id="{{'cantidad'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td class="costoHectarea">
                    <input type="number" formControlName='costoHectarea' id="{{'costoHectarea'+ index}}" (change)="obtenerTotalCostos()">
                </td>
                <td>
                    <button (click)="onRemoveItem(index)">Eliminar</button>
                </td>
            </tr>
        </ng-container>
        <mat-form-field  class="form-proyecto_item">
            <mat-label>Indique el valor del rendimiento diario</mat-label>
            <input 
                type="number" 
                matInput 
                formControlName="fcontrolRendimiento"
                min="0"
                (change)="obtenerTotalCostos()"
            />
        </mat-form-field>
        <div>
            <h4>Total costos: {{totalCostosAprovechamiento}}</h4>
        </div>
    </table>
    <button mat-button (click)="onAddItem()" *ngIf="costoAprovechamientoForm.get('costos')">Añadir Item</button>
    <button mat-button [mat-dialog-close]="totalCostosAprovechamiento" cdkFocusInitial>Guardar</button>
</div>
