<ng-container>
  <div class="costos--transporte-menor">
    <form [formGroup]="formulario">
      <mat-accordion *ngFor="let fila of filas">
        <mat-expansion-panel (opened)="false" (closed)="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ fila.nombre }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field
              *ngFor="let campo of fila.campos"
              class="costos--transporte-menor--form__item"
              appearance="fill"
            >
              <mat-label>{{ campo.producto }} (%)</mat-label>
              <input
                matInput
                type="number"
                formControlName="{{ campo.nombreCampo }}"
                placeholder="%"
                (keyup)="onKey($event)"
              />
            </mat-form-field>
          </p>
        </mat-expansion-panel>
      </mat-accordion>

      <br>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >Guardar</button>

      <br>
      <br>

      <h2>Proporciones de distribución por tipo de madera/producto</h2>

      <table mat-table [dataSource]="dataSource" class="tabla-transporte-menor">
        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef> Tipo de madera/producto </th>
          <td mat-cell *matCellDef="let element">
            {{ element.producto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="porcentaje">
          <th mat-header-cell *matHeaderCellDef>Porcentaje (%) </th>
          <td mat-cell *matCellDef="let element">
            <label>{{ element.porcentaje }}</label>
            <label *ngIf="element.porcentaje !== 100" class="mat-error">Revisar porcentajes</label>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tabla"></tr>
        <tr mat-row *matRowDef="let row; columns: tabla;"></tr>
      </table>
      <br>


    </form>
  </div>
</ng-container>
