:host ::ng-deep .costos--transporte-menor {
  .mat-expansion-panel {
    margin: 1rem 0;

    .costos--transporte-menor--form__item {
      width: 45%;
      margin-right: 1rem;
    }
  }

  .mat-button-base.mat-primary {
    background-color: #00963a;
  }

  .tabla-transporte-menor {
    margin-bottom: 2rem;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0,0,0,.12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }
  }
}

