:host ::ng-deep .especies-info-de-las-especies {
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-button-base.mat-primary {
    background-color: #00963a;
  }

  .volumen {
    width: 240px;
  }

  .tcaf {
    width: 150px;
  }

  .crear-especie {
    margin: 2rem 0;
  }

  .cancelar-especie {
    margin: 2rem .5rem;
    background-color: #888888;
  }

  .crear-producto {
    margin-bottom: 2rem;
  }

  .tabla-de-productos {
    margin-bottom: 2rem;
    width: 100%;

    .mat-cell,
    .mat-header-cell {
      border-right: 1px solid rgba(0, 0, 0, .12);
      padding: 0 1rem;

      &:last-child {
        border-right: unset;
      }
    }

    .mat-header-cell {
      text-align: center;
    }

    @media (max-width: 960px) {
      th, td {
        display: none;

        &:first-of-type, &:last-of-type {
          display: table-cell;
        }
      }
    }
  }
}
