<ng-container>

  <div class="especies-info-de-las-especies">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Especies</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button
          mat-raised-button
          color="primary"
          (click)="agregarEspecie()"
          *ngIf="!verFormularioEspecie"
        >Agregar especie
        </button>

        <!--Form Especie-->
        <form [formGroup]="formGroupFields" *ngIf="verFormularioEspecie" class="especie-field">
          <mat-form-field class="especie-form__item" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text"
                   [placeholder]="placeholder"
                   matInput
                   formControlName="nombreEspecie"
                   [matAutocomplete]="auto"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="actualizarPlaceholder($event.option.value)">
              <mat-option *ngFor="let option of especiesFiltradas | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="especie-form__item" appearance="fill">
            <mat-label>Calidad de madera/producto</mat-label>
            <mat-select formControlName="calidadMadera" name="calidadMadera" (selectionChange)="actualizarUnidad()">
              <mat-option *ngFor="let option of materiales" [value]="option">
                {{ option.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="especie-form__item tcaf" appearance="fill">
            <mat-label>TCAF (COP/{{unidadBase}})</mat-label>
            <input
              matInput
              type="number"
              formControlName="tcaf"
            />
          </mat-form-field>

          <mat-form-field class="especie-form__item volumen" appearance="fill">
            <mat-label>Volumen otorgados en pie ({{unidadBase}}/ha)</mat-label>
            <input
              matInput
              type="number"
              formControlName="volumenOtorgado"
            />
          </mat-form-field>

        </form>
        <table mat-table [dataSource]="dataSourceEspecies" class="tabla-de-productos"
               *ngIf="!verFormularioEspecie && especies.length > 0">
          <!-- Position Column -->
          <ng-container matColumnDef="nombreEspecie">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{ element.nombreEspecie }} </td>
          </ng-container>

          <ng-container matColumnDef="calidadMadera">
            <th mat-header-cell *matHeaderCellDef> Calidad de la madera</th>
            <td mat-cell *matCellDef="let element"> {{ element.calidadMadera }} </td>
          </ng-container>

          <ng-container matColumnDef="tcaf">
            <th mat-header-cell *matHeaderCellDef> TCAF (COP/m3)</th>
            <td mat-cell *matCellDef="let element"> {{ element.tcaf | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="volumenOtorgado">
            <th mat-header-cell *matHeaderCellDef> Volumen otorgados en pie (m3/ha)</th>
            <td mat-cell *matCellDef="let element"> {{ element.volumenOtorgado }} </td>
          </ng-container>

          <ng-container matColumnDef="productos">
            <th mat-header-cell *matHeaderCellDef> Total de productos</th>
            <td mat-cell *matCellDef="let element"> {{ element.productos.length }} </td>
          </ng-container>

          <ng-container matColumnDef="operaciones" class="padding">
            <th mat-header-cell *matHeaderCellDef> Operaciones</th>
            <td mat-cell *matCellDef="let element; let especieId = index;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="editarEspecie(especieId)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  mat-menu-item
                  (click)="eliminarEspecie(especieId)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tablaDeEspecies"></tr>
          <tr mat-row *matRowDef="let row; columns: tablaDeEspecies;"></tr>
        </table>
        <!-- formulario Formulario producto -->
        <br>

        <mat-card *ngIf="verFormularioEspecie">

          <mat-card-header>
            <mat-card-subtitle>Productos</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <button
              mat-raised-button
              color="primary"
              (click)="crearProducto()"
              class="crear-producto"
            >Agregar Producto
            </button>

            <table mat-table [dataSource]="dataSourceProductos" class="tabla-de-productos"
                   *ngIf="productosEspecie.length > 0">

              <!-- Position Column -->
              <ng-container matColumnDef="nombreProducto">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreProducto}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="factorTransformacion" class="borde padding">
                <th mat-header-cell *matHeaderCellDef> Factor de transformación</th>
                <td mat-cell *matCellDef="let element"> {{element.factorTransformacion|percent}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="sistemaDeTransformacionPrimaria" class="borde padding">
                <th mat-header-cell *matHeaderCellDef> Sistema de transformación primaria</th>
                <td mat-cell *matCellDef="let element"> {{element.sistemaDeTransformacionPrimaria}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="volumenPorProducto" class="borde padding">
                <th mat-header-cell *matHeaderCellDef> Volumen por producto</th>
                <td mat-cell *matCellDef="let element"> {{element.volumenPorProducto}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="costoTransformacionPrimaria" class="padding">
                <th mat-header-cell *matHeaderCellDef> Costo/m3 transformación primaria</th>
                <td mat-cell *matCellDef="let element"> {{element.costoTransformacionPrimaria|currency}} </td>
              </ng-container>

              <ng-container matColumnDef="operaciones" class="padding">
                <th mat-header-cell *matHeaderCellDef> Operaciones</th>
                <td mat-cell *matCellDef="let element; let productoId = index;">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="editarProducto(productoId)"
                    >
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button
                      mat-menu-item
                      (click)="eliminarProducto(productoId)"
                    >
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="tablaDeProductos"></tr>
              <tr mat-row *matRowDef="let row; columns: tablaDeProductos;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

        <button
          mat-raised-button
          color="primary"
          (click)="crearEspecie()"
          *ngIf="verFormularioEspecie"
          class="crear-especie"
        >Guardar especie
        </button>

        <button
          mat-raised-button
          color="accent"
          (click)="cancelarEspecie()"
          *ngIf="verFormularioEspecie"
          class="cancelar-especie"
        >Cancelar
        </button>

      </mat-card-content>
    </mat-card>

  </div>


</ng-container>
