.ubicacion-form {
    margin: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 20px 0px 0px 0px;
    }
    &_item {
      width: 45%;
      @media (max-width: 600px) {
        width: 100%;
      }
      margin: 10px;
    }
  }

  
.validation-container {
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 600px) {
    margin-right: 0px;
  }
}

.ranges-container {
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
    flex-direction: column;
  }
  &__items {
    width: 45%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
