<ng-container>
    <form class="ubicacion-form" [formGroup]="fgroupUbicacion">
        <mat-form-field class="ubicacion-form_item">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamentoForm">
              <mat-option *ngFor="let option of filterDepartamentos | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="completeDepartment" class="ubicacion-form_item">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName = "municipioForm">
            <mat-option 
              *ngFor="let option of filterMunicipios | async"
              [value]="option"  
            >
            {{ option }}
            </mat-option>
          </mat-select>      
        </mat-form-field>

        <!--Rangos-->
        <div class="ranges-container">
        <mat-form-field class="ranges-container__items">
          <mat-label>Rango de Altura (msnm)</mat-label>
          <mat-select formControlName="alturaForm" name="altura">
            <mat-option *ngFor="let option of rangoAlturaValues" [value]="option" >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field class="ranges-container__items">
          <mat-label>Rango de Precipitación (mm/año)</mat-label>
          <mat-select formControlName="precipitacionForm" name="precipitacion">
            <mat-option
              *ngFor="let option of rangoPrecipitacionValues"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="ranges-container__items">
          <mat-label>Rango de Temperatura Promedio (°C)</mat-label>
          <mat-select formControlName ="temperaturaForm" name="temperatura">
            <mat-option
              *ngFor="let option of rangoTemperaturaValues"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ranges-container__items">
          <mat-label>Rango de Pendiente (°)</mat-label>
          <mat-select formControlName ="pendienteForm" name="pendiente">
            <mat-option
              *ngFor="let option of rangoPendienteValues"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

   
    

</ng-container>