<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Ubicación</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formUbicacion" class="form-general">

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="fcontrolDepartamento" name="fcontrolDepartamento"
                    (selectionChange)="cambioDepartamento()">
          <mat-option *ngFor="let option of departamentos" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-general__item" appearance="fill" *ngIf="municipios.length > 0">
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="fcontrolMunicipio" name="fcontrolMunicipio">
          <mat-option *ngFor="let option of municipios" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Altura</mat-label>
        <mat-select formControlName="fcontrolAltura" name="fcontrolAltura">
          <mat-option *ngFor="let option of alturas" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-general__item" appearance="fill">
        <mat-label>Autoridad Ambiental</mat-label>
        <mat-select formControlName="fcontrolAutoridad" name="fcontrolAutoridad">
          <mat-option *ngFor="let option of autoridades" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="fcontrolPendiente" class="form-general__item" (change)="cambioPendiente()">La
        pendiente de la unidad propuesta es mayor a 35°
      </mat-checkbox>
      <mat-checkbox formControlName="fcontrolPendienteArea" class="form-general__item" *ngIf="verPendienteArea"
                    (change)="validar()">¿El área mayor de 35° representa más del 50% de la UMF?
      </mat-checkbox>
      <mat-checkbox formControlName="fcontrolPof" class="form-general__item" (change)="validar()">¿El área donde se
        desarolla(rá) el proyecto cuenta con Plan de Ordenación Forestal (POF)?
      </mat-checkbox>
      <mat-checkbox formControlName="fcontrolPmf" class="form-general__item" (change)="validar()">¿Cuenta con Plan de
        Manejo Forestal (PMF)?
      </mat-checkbox>
    </form>
  </mat-card>
</ng-container>
